{{Message:MESSAGE}}
<div align="left" class="adminform form-horizontal">
	{{Tab Start:TABSTART#JEV_TAB_COMMON}}
	<table cellpadding="5" cellspacing="2" border="0"  class="adminform" id="jevadminform">
		<tr>
			<td align="left">
				{{Title Label:TITLE_LBL}} :</td>
			<td>{{Title:TITLE}}</td>
			<td align="left" {{Priority:PRIORITY# #class="jev_none"}}>
				{{Priority Label:PRIORITY_LBL}} :</td>
			<td>{{Priority:PRIORITY}}</td>

		</tr>
		<tr {{Creator:CREATOR# class="jevcreator" #class="jevcreator jev_none"}}>
			<td align="left">
				{{Creator label:CREATOR_LBL}}:</td>
			<td colspan="3">
				{{Creator:CREATOR}}
			</td>
		</tr>			
		<tr {{Calendar:ICAL# class="jevical" #class="jevical jev_none"}}>
			<td align="left">
				{{Calendar label:ICAL_LBL}}
			</td>
			<td colspan="3">
				{{Calendar:ICAL}}
			</td>
		</tr>
		<tr {{Lock Event:LOCK# class="jevlock" #class="jevlock jev_none"}}>
			<td align="left">
				{{Lock Event label:LOCK_LBL}}
			</td>
			<td colspan="3">
				{{Lock Event:LOCK}}
			</td>
		</tr>
		<tr {{Category:CATEGORY# class="jevcategory" #class="jevcategory jev_none"}}>
			<td valign="top" align="left" >
				{{Category label:CATEGORY_LBL}}
			</td>
			<td style="width:200px"  >
				{{Category:CATEGORY}}
			</td>
		</tr>
		<tr {{Access:ACCESS# class="jevaccess" #class="jevaccess jev_none"}}>
			<td valign="top" align="left" >
				{{Access label:ACCESS_LBL}}
			</td>
			<td style="width:200px"  >
				{{Access:ACCESS}}
			</td>
		</tr>
		<tr {{Status:STATE# class="jevstate" #class="jevstate jev_none"}}>
			<td valign="top" align="left" >
				{{State label:STATE_LBL}}
			</td>
			<td style="width:200px"  >
				{{State:STATE}}
			</td>
		</tr>
		<tr {{Event Colour:COLOUR# class="jevcolour" #class="jevcolour jev_none"}}>
			<td valign="top" align="left" >
				{{Colour label:COLOUR_LBL}}
			</td>
			<td style="width:200px"  >
				{{Event Colour:COLOUR}}
			</td>
		</tr>
		
		<tr  class="jev_description">
			<td valign="top" align="left">
				{{Description label:DESCRIPTION_LBL}}
			</td>
			<td colspan="3">
				{{Description:DESCRIPTION}}
			</td>
		</tr>

		<tr  class="jeveditlocation">
			<td width="130" align="left"  valign="top">
				{{LOCATION label:LOCN_LBL}}
			</td>
			<td colspan="3">
				{{Location:LOCN}}
			</td>
		</tr>

		<tr  class="jev_contact">
			<td valign="top" align="left">
				{{Contact label:CONTACT_LBL}}
			</td>
			<td colspan="3">
				{{Contact:CONTACT}}
			</td>
		</tr>

		<tr class="jev_extrainfo">
			<td valign="top" align="left">
				{{Extra label:EXTRA_LBL}}
			</td>
			<td colspan="3">
				{{Extra:EXTRA}}
			</td>
		</tr>
		
		<tr>
			<td colspan="4"><strong>Example of single custom field</strong></td>
		</tr>
		<tr>
			<td>{{Custom joomlauser2 label:customfield_joomlauser2_lbl}}</td>
			<td>{{Custom joomlauser2:customfield_joomlauser2}}</td>
		</tr>
		
	</table>
	<table cellpadding="5" cellspacing="2" border="0"  class="adminform" id="jevadminform">
		{{Custom Fields:CUSTOMFIELDS}} 
	</table>

	{{Tab Start:TABSTART#JEV_TAB_CALENDAR}}
	{{Calendar tab content:CALTAB}}

	{{Tab Start:TABSTART#Custom Fields Tab One}}
	{{Tab 1:CUSTOM_1}}

	{{Tab Start:TABSTART#Custom Fields Tab Two}}
	{{Tab 2:CUSTOM_2}}
        
	{{Tab Start:TABSTART#JEV_ATTENDANCE}}
	{{Attendance Tab:JEV_ATTENDANCE}}

	{{Tab Start:TABSTART#JEV_INVITATION_OPTIONS}}
	{{Invitations Tab:JEV_INVITATION_OPTIONS}}

	{{Tab Start:TABSTART#JEV_REMINDER_OPTIONS}}
	{{Reminder Tab:JEV_REMINDER_OPTIONS}}

	{{End Tabs:TABSEND}}
</div>
