{{Message:MESSAGE}}
<div class="adminform form-horizontal">

	{{Tab Start:TABSTART#JEV_TAB_COMMON}}
	<div class="control-group">
		{{Title Label:TITLE_LBL}}
		<div class="controls">
			{{Title:TITLE}}
		</div>
	</div>
	<div {{Priority:PRIORITY# class="control-group jevpriority" #class="control-group jevpriority jev_none"}}>
		{{Priority Label:PRIORITY_LBL}} 	
		{{Priority:PRIORITY#<div class="controls">%s</div>}}
	</div>
	<div {{Creator:CREATOR# class="control-group jevcreator" #class="control-group jevcreator jev_none"}}>
		{{Creator label:CREATOR_LBL}}
		<div class="controls">
			{{Creator:CREATOR}}
		</div>
	</div>			
	<div {{Calendar:ICAL#class="control-group jevical" #class="control-group jevical jev_none"}}>
		{{Calendar label:ICAL_LBL}}
		<div class="controls">
			{{Calendar:ICAL}}
		</div>
	</div>
	<div {{Lock Event:LOCK#class="control-group jevlock" #class="control-group jevlock jev_none"}}>
		{{Lock Event label:LOCK_LBL}}
		<div class="controls">
			{{Lock Event:LOCK}}
		</div>
	</div>
	<div {{Category:CATEGORY# class="control-group jevcategory"#class="control-group jevcategory jev_none"}}>
		{{Category label:CATEGORY_LBL}}
		<div class="controls">
			{{Category:CATEGORY}}
		</div>
	</div>
	<div {{Access:ACCESS# class="control-group jevaccess" #class="control-group jevaccess jev_none"}} >
		{{Access label:ACCESS_LBL}}
		<div class="controls">
			{{Access:ACCESS}}
		</div>
	</div>
	<div {{State:STATE# class="control-group jevstate" #class="control-group jevstate jev_none"}} >
		{{State label:STATE_LBL}}
		<div class="controls">
			{{State:STATE}}
		</div>
	</div>
	<div class="control-group jevcolour" {{Event Colour:COLOUR#class="control-group jevcolour"  #class=" control-group jevcolourjev_none"}} >
		{{Colour label:COLOUR_LBL}}
		<div class="controls">
			{{Event Colour:COLOUR}}
		</div>
	</div>

	<div class="control-group jev_description" id='jeveditor' >
		{{Description label:DESC_LBL}}
		<div class="controls">
			{{Description:DESCRIPTION}}
		</div>
	</div>

	<div class="control-group jeveditlocation"  id="jeveditlocation">
		{{LOCATION label:LOCN_LBL}}
		<div class="controls">
			{{Location:LOCN}}
		</div>
	</div>

	<div class="control-group jev_contact">
		{{Contact label:CONTACT_LBL}}
		<div class="controls">
			{{Contact:CONTACT}}
		</div>
	</div>

	<div class="control-group jev_extrainfo">
		{{Extra label:EXTRA_LBL}}
		<div class="controls">
			{{Extra:EXTRA}}
		</div>
	</div>

	<div class="control-group">
		Example of single custom field : {{Custom joomlauser2 label:customfield_joomlauser2_lbl}}
		<div class="controls">
			{{Custom joomlauser2:customfield_joomlauser2}}
		</div>
	</div>

	{{Custom Fields:CUSTOMFIELDS}} 

	{{Tab Start:TABSTART#JEV_TAB_CALENDAR}}
	{{Calendar tab content:CALTAB}}

	{{Tab Start:TABSTART#Custom Fields Tab One}}
	{{Tab 1:CUSTOM_1}}

	{{Tab Start:TABSTART#Custom Fields Tab Two}}
	{{Tab 2:CUSTOM_2}}

	{{Tab Start:TABSTART#JEV_ATTENDANCE}}
	{{Attendance Tab:ATTENDANCE_OPTIONS}}

	{{Tab Start:TABSTART#JEV_INVITATION_OPTIONS}}
	{{Invitations Tab:INVITATION_OPTIONS}}

	{{Tab Start:TABSTART#JEV_REMINDER_OPTIONS}}
	{{Reminder Tab:EMAIL_REMINDER_OPTIONS}}

	{{End Tabs:TABSEND}}
</div>
