<div class="contentpaneopen jev_evdt">
    <div class="jev_evdt_header">
        <div class="jev_evdt_icons">{{JEV_FIELD_ICALBUTTON:ICALBUTTON}} {{JEV_FIELD_EDITBUTTON:EDITBUTTON}}</div>
        <div class="jev_evdt_title">{{JEV_FIELD_TITLE:TITLE}}</div>
    </div>
    <div class="jev_eventdetails_body">
        <div class="jev_evdt_summary">{{JEV_FIELD_REPEATSUMMARY:REPEATSUMMARY}} {{JEV_FIELD_PREVIOUSNEXT:PREVIOUSNEXT}}</div>
        <div class="jev_evdt_hits">{{JEV_FIELD_HITS:HITS}}</div>
        <div class="jev_evdt_creator"><span class="creator">{{JEV_FIELD_CREATOR:CREATOR_LABEL}} </span>{{Creator:CREATOR}}</div>
        <div class="jev_evdt_contact"><span class="contact">{{JEV_FIELD_CONTACT_LABEL:CONTACT_LABEL}}</span>{{JEV_FIELD_CONTACT:CONTACT}}</div>
        <div class="jev_evdt_desc">{{JEV_FIELD_DESCRIPTION:DESCRIPTION}}</div>
        <div class="jev_evdt_location"><span class="location">{{JEV_FIELD_LOCATION_LABEL:LOCATION_LABEL}}</span>{{JEV_FIELD_LOCATION:LOCATION}}</div>
        <div class="jev_evdt_extrainf">{{JEV_FIELD_EXTRAINFO:EXTRAINFO}}</div>
    </div>
</div>