<table class="contentpaneopen" style="border:0px">
    <tr class="headingrow">
        <td  width="100%" class="contentheading">
        	{{JEV FIELD TITLE:TITLE}}
        </td>
        <td  width="20" class="buttonheading" align="right">
	        {{JEV FIELD ICALBUTTON:ICALBUTTON}}
		</td>
        <td  width="20" class="buttonheading" align="right">
         	{{JEV FIELD EDITBUTTON:EDITBUTTON}}
		<td>
    </tr>
    <tr>
        <td align="left" valign="top" colspan="4">
            <table width="100%" style="border:0px">
                <tr>
                	<td>
                		{{JEV FIELD REPEATSUMMARY:REPEATSUMMARY}}
                		{{JEV FIELD PREVIOUSNEXT:PREVIOUSNEXT}}
                	</td>
                    <td class="ev_detail contact" >
                    	{{JEV FIELD CREATOR:CREATOR}}
                    </td>
                   	<td class="ev_detail hits" >
                   		{{JEV FIELD HITS:HITS}}
                    <td/>
                </tr>
            </table>
        </td>
    </tr>
    <tr align="left" valign="top">
        <td colspan="4">{{JEV FIELD DESCRIPTION:DESCRIPTION}}</td>
    </tr>
     <tr>
         <td class="ev_detail" align="left" valign="top" colspan="4">
             <strong>{{JEV FIELD LOCATION_LABEL:LOCATION_LABEL}}</strong>{{JEV FIELD LOCATION:LOCATION}}
         </td>
     </tr>
     <tr>
         <td class="ev_detail" align="left" valign="top" colspan="4">
             <strong>{{JEV FIELD CONTACT_LABEL:CONTACT_LABEL}}</strong>{{JEV FIELD CONTACT:CONTACT}}
         </td>
     </tr>
     <tr>
          <td class="ev_detail" align="left" valign="top" colspan="4">
          	{{JEV FIELD EXTRAINFO:EXTRAINFO}}
          </td>
     </tr>
</table>
