Club Layouts
<div class="eventfull">
	<div class="eventstyle" style="border-left-color:{{Event background color:COLOUR}};border-bottom-color:{{Event background color:COLOUR}};">
		<span class="editlinktip hasjevtip" title="{{Tooltip title:TOOLTIPTITLE}}"  data-content="{{Tooltip content:TOOLTIPCONTENT}}">
			<a class="cal_titlelink" href="{{Link:LINK}}">{{Event Time:EVTTIME}} {{Title:TITLE}}</a>
		</span>
	</div>
</div>

Alternative
<div style="width: 100%; border: 0pt none; padding: 2px;">
	<div style="padding: 0pt 0pt 0pt 2px; border-left: 8px solid {{Event background color:COLOUR}};">
		<span class="editlinktip hasjevtip" title="{{Tooltip title:TOOLTIPTITLE}}"  data-content="{{Tooltip content:TOOLTIPCONTENT}}">
			<a class="cal_titlelink" href="{{Link:LINK}}">{{Event Time:EVTTIME}} {{Title:TITLE}}</a>
		</span>
	</div>
</div>

Default 
<div style="border: 0pt none; width: 100%;">
	<div style="padding: 0pt; background-color: {{Event background color:COLOUR}}; color: {{Event foreground color:FGCOLOUR}}; width: 100%;">
		<span class="editlinktip hasjevtip" title="{{Tooltip title:TOOLTIPTITLE}}"  data-content="{{Tooltip content:TOOLTIPCONTENT}}">
			<a class="cal_titlelink" href="{{Link:LINK}}">{{Event Time:EVTTIME}} {{Title:TITLE}}</a>
		</span>
	</div>
</div>

Ext
<div class="eventfull">
	<div style="padding: 0pt 0pt 0pt 2px; border-bottom-color: {{Event background color:COLOUR}};" class="eventstyle">
		<span class="editlinktip hasjevtip" title="{{Tooltip title:TOOLTIPTITLE}}"  data-content="{{Tooltip content:TOOLTIPCONTENT}}">
			<a class="cal_titlelink" href="{{Link:LINK}}">{{Event Time:EVTTIME}} {{Title:TITLE}}</a>
		</span>
	</div>
</div>

Geraint
<div class="eventfull">
	<div style="border-width: 0px 0px 1px 8px; border-color: {{Event background color:COLOUR}}; padding: 0px 0px 1px 2px;" class="eventstyle">
		<span class="editlinktip hasjevtip" title="{{Tooltip title:TOOLTIPTITLE}}"  data-content="{{Tooltip content:TOOLTIPCONTENT}}">
			<a class="cal_titlelink" href="{{Link:LINK}}">{{Event Time:EVTTIME}} {{Title:TITLE}}</a>
		</span>
	</div>
</div>

