/nbproject/private/
/nbproject/
.DS_Store
._.DS_Store
.idea
/component/site/assets/css/jevcustom.css
/modules/mod_jevents_latest/tmpl/verna
/modules/mod_jevents_cal/tmpl/verna
/modules/mod_jevents_legend/tmpl/verna
/modules/mod_jevents_cal/tmpl/flatplus
/modules/mod_jevents_latest/tmpl/flatplus
/modules/mod_jevents_legend/tmpl/flatplus
/component/media/css/jevcustom.css
/component/site/views/clean/
component/site/views/clean
component/admin/install.php
component/admin/manifest.xml
