/* Sliders */
.pane-sliders {
	margin: 0;
	position: relative;
}
.pane-sliders .title {
	margin: 0;
	padding: 2px;
	cursor: pointer;
}
.pane-sliders .panel {
	margin-bottom: 3px;
}
.pane-sliders .adminlist td {
	border: 0 none;
}
h3.pane-toggler-down a:focus,
h3.pane-toggler a:focus {
	outline: none;
}
.pane-toggler span {
	padding-left: 20px;
}
.pane-toggler-down span {
	padding-left: 20px;
}
.pane-slider.pane-hide {
	display: none;
}
div#position-icon.pane-sliders div.pane-down div.icon-wrapper {
	margin: 5px 0 5px 0;
}
div#position-icon.pane-sliders div.pane-down .icon-wrapper .icon {
	padding: 5px 0 5px 10px;
	margin: 0;
}

/*Sliders color */
.pane-sliders .title {
	color: #2c2c2c;
}
.pane-sliders .panel {
	border: 1px solid #738498;
}
.pane-sliders .panel h3 {
	font-size: 1.182em;
}
.pane-sliders .panel h3:hover {
	background: #e5d9c3;
}
.pane-sliders .panel h3:hover a {
	text-decoration: none;
}
.pane-sliders .adminlist {
	border: 0 none;
}
.pane-sliders .adminlist td {
	border: 0 none;
}
.pane-toggler span {
	background: transparent url(../images/j_arrow.png) 5px 50% no-repeat;
}
.pane-toggler-down span {
	background: transparent url(../images/j_arrow_down.png) 5px 50% no-repeat;
}
.pane-toggler-down {
	border-bottom: 1px solid #738498;
}
.pane-sliders th, .pane-sliders td {
	text-align:left;
	padding:5px;
}

.versionsinfo {
	width:100%;
	margin:0px;
}

/* -- CONTROL PANEL STYLES ----------------------------- */
.cpanel div.icon, #cpanel div.icon {
	text-align: center;
	margin-right: 15px;
	float: left;
	margin-bottom: 15px;
	font-size:12px;
	line-height: 14px;
}
.cpanel div.icon a, #cpanel div.icon a {
	background-color: #fff;
	background-position: -30px;
	display: block;
	float: left;
	height: 97px;
	width: 108px;
	color: #565656;
	vertical-align: middle;
	text-decoration: none;
	border: 1px solid #CCC;

	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	-webkit-transition-property:
		background-position,
		-webkit-border-bottom-left-radius,
		-webkit-box-shadow;
	-moz-transition-property:
		background-position,
		-moz-border-radius-bottomleft,
		-moz-box-shadow;
	-webkit-transition-duration: 0.8s;
	-moz-transition-duration: 0.8s;
}

#cpanel div.icon a:hover,
#cpanel div.icon a:focus,
#cpanel div.icon a:active,
.cpanel div.icon a:hover,
.cpanel div.icon a:focus,
.cpanel div.icon a:active {
	background-position: 0;
	-webkit-border-bottom-left-radius: 50% 20px;
	-moz-border-radius-bottomleft: 50% 20px;
	border-bottom-left-radius: 50% 20px;
	-webkit-box-shadow: -5px 10px 15px rgba(0, 0, 0, 0.25);
	-moz-box-shadow: -5px 10px 15px rgba(0, 0, 0, 0.25);
	box-shadow: -5px 10px 15px rgba(0, 0, 0, 0.25);
	position: relative;
	z-index: 10;
}

#cpanel img,
.cpanel img {
	padding: 10px 0;
	margin: 0 auto;
}

#cpanel span,
.cpanel span {
	display: block;
	text-align: center;
}

div.cpanel-left {
	width: 54%;
	float: left;
}
div.cpanel-right {
	width: 45%;
	float: right;
}

/* params editing styling */
.paramlist_key {width:40%;}

/* Form styling for checkboxes etc. */
fieldset.checkboxes ul {
    margin-left:0px;
}
fieldset.checkboxes li {
    float:left;
    margin-left: 5px;
    margin-right:0px;
    list-style: none;
}

/* Editing styles */
td.r1, span.r1 {
	background-color:#eeeeee!important;
	padding:5px 5px 0px 0px;
}
td.r2, span.r2 {
	padding-right:5px;
}
div#jevents input,div#jevents select,div#jevents textarea,div#jevents inputbox {
	padding:3px 5px;
	width: auto;
}

div#jevoverlapwarning {
	border:solid 1px red;
	padding:5px;
	display:none;
}
div#jevoverlapwarning h4 {
	font-weight:bold;
	margin:5px 0px;
}

.jev_edit_event_notice {
	width:500px;
}
a#colorPickButton {
	text-decoration:none;
	padding:5px;
}
.icon-32-save 			{ background-image: url(../images/icon-32-save.png); }
.icon-32-edit 			{ background-image: url(../images/icon-32-edit.png); }
.icon-32-cancel 		{ background-image: url(../images/icon-32-cancel.png); }
.icon-32-apply 		{ background-image: url(../images/icon-32-apply.png); }

#jevents label {display:inline;}

#jevents  fieldset.checkboxes li label {
	display:block;
}
#jevents  fieldset.checkboxes li {min-width: 40px;}

/* workaround for stupid protostar sizing defaults which eliminate multi-select list height settings*/
.select[multiple],select[size] {
	height: auto!important;
}

#filter-bar .fltrt {
	float:right;
}
.adminlist {
	width:100%;
	margin-top:10px;
}
