tr.jevcreator_level, tr.jevpublish_level, tr.jeveditor_level {
	display:none;
}
fieldset.adminform label {
	display:inline;
	float:none!important;
	margin-left:2px!important;
}
fieldset.adminform input, fieldset.adminform textarea, fieldset.adminform select, fieldset.adminform img, fieldset.adminform button {
	float:none!important;
	margin-right:5px;
}

div#jevents div.current{max-width: none!important;}
.jeventslight div#jevents div.current {background-color:#fff;}
div#jevents tr, div#jevents td {border-width:0px;}

div#jevents table.adminform {
background-color:#FFFFFF;
border:1px solid #D5D5D5;
border-collapse:collapse;
margin:8px 0 15px;
width:100%;
}
div#jevents table.adminform tr.row0 {
background-color:#F9F9F9;
}
div#jevents table.adminform tr.row1 {
background-color:#EEEEEE;
}
div#jevents table.adminform th {
background-repeat:repeat;
color:#000000;
font-size:1.091em;
height:25px;
padding:6px 2px 4px 4px;
text-align:left;
}
div#jevents table.adminform td {
font-size:1.091em;
padding:5px;
text-align:left;
}
div#jevents table.adminform td.r1, div#jevents table.adminform td.r2 {
	padding-right:9px!important;
}
div#jevents table.adminform td.filter {
text-align:left;
}
div#jevents table.adminform td.helpMenu {
text-align:right;
}

textarea#extra_info {
	width:100%;
	padding:0px!important;
	margin:0px;
	height:auto!important;
}

div#jevents fieldset {
	border:solid 1px #cccccc;
	margin-bottom:5px;
	display:block;
	padding:5px 0px;
	background:none;
}
div#jevents fieldset {
	margin:5px;
	padding:5px;
}
div#jevents fieldset legend {
	padding:0px 10px;
	color:#146295;
	font-weight:bold;
	font-size:1em;
}
div#jevents table#jevadminform {
	font-size:1em;
	margin:0px 5px 5px 5px;
}
div#jevents table#jevadminform td {
	padding:3px;
}
div#jevents table#jevadminform table td {
	padding:0px;
}

div#jevents fieldset table {
	margin:0px;
}

div#jevents dl.tabs {
float:left;
margin:10px 0 -1px;
z-index:50;
}
div#jevents dl.tabs dt {
background:none repeat scroll 0 0 #F0F0F0;
border-left:1px solid #CCCCCC;
border-right:1px solid #CCCCCC;
border-top:1px solid #CCCCCC;
color:#666666;
float:left;
margin-left:3px;
padding:4px 10px;
}
div#jevents dl.tabs dt.open {
background:none repeat scroll 0 0 #F9F9F9;
border-bottom:1px solid #F9F9F9;
color:#000000;
z-index:100;
}
div#jevents div.current {
border:1px solid #CCCCCC;
clear:both;
padding:10px;
}
div#jevents div.current dd {
margin:0;
padding:0;
}

/** header icons **/
div.icon-48-jevents {
	background: url(../images/logo.gif) transparent no-repeat;
	padding-left:265px!important;
	line-height:48px;
}

div.pagetitle {
background-repeat:no-repeat;
margin-left:10px;
padding-left:60px;
}
div.pagetitle h2 {
color:#146295;
font-size:2em;
font-weight:bold;
line-height:48px;
margin:0;
padding:0;
}
div.pagetitle span {
color:#666666;
}
div.toolbar-list {
float:right;
padding:0;
text-align:right;
}
div.toolbar-list ul {
margin:0;
padding:0;
}
div.toolbar-list li {
color:#666666;
float:left;
height:48px;
list-style:none outside none;
padding:1px 1px 3px 4px;
text-align:center;
}
div.toolbar-list li.spacer {
width:10px;
}
div.toolbar-list li.divider {
border-right:1px solid #C7C7C7;
width:2px;
}
div.toolbar-list span {
display:block;
float:none;
height:32px;
margin:0 auto;
width:32px;
}
div.toolbar-list a {
border:1px solid #F4F4F4;
cursor:pointer;
display:block;
float:left;
padding:1px 5px;
white-space:nowrap;
text-decoration: none;
}
div.toolbar-list a:hover {
border-color:#EEEEEE #CCCCCC #CCCCCC #EEEEEE;
border-left:1px solid #EEEEEE;
border-style:solid;
border-width:1px;
color:#0B55C4;
text-decoration:none;
}

/* Editing styles */
td.r1, span.r1 {
	background-color:#eeeeee!important;
	padding:5px 5px 0px 0px;
}
td.r2, span.r2 {
	padding-right:5px;
}
div#jevents input,div#jevents select,div#jevents textarea,div#jevents inputbox {
	padding:3px 5px;
}

div#jevoverlapwarning {
	border:solid 1px red;
	padding:5px;
	display:none;
}
div#jevoverlapwarning h4 {
	font-weight:bold;
	margin:5px 0px;
}

a#colorPickButton {
	text-decoration:none;
	padding:5px;
}
.icon-32-save 			{ background-image: url(../images/icon-32-save.png); }
.icon-32-edit 			{ background-image: url(../images/icon-32-edit.png); }
.icon-32-cancel 		{ background-image: url(../images/icon-32-cancel.png); }
.icon-32-apply 		{ background-image: url(../images/icon-32-apply.png); }
