tr.jevcreator_level, tr.jevpublish_level, tr.jeveditor_level {
	display:none;
}
fieldset.adminform label {
	display:inline;
	float:none;
}
fieldset.adminform input, fieldset.adminform textarea, fieldset.adminform select, fieldset.adminform img, fieldset.adminform button {
	float:none;
	margin-right:5px;
}