/*** New JEvents CSS for cPanel ***/
#cp_icon_container {
    width:120px;
    height:100px;
    padding:10px;
    float:left;
    text-align:center;
}
#cp_icon_container a:hover {text-decoration: none;font-weight:bold;}

#jevents.span12 {margin-left: 0px;}
div#sidebar.sidebar {clear:both;}