/***********************
* Overall layout control
************************/

#jevents_body{
    width:100%;
}
.jeventslight{
	color:#000000;
}

/* EXT CALENDAR STYLE*/

#jevents_body select {
	color: inherit;
}

#jevents_body strong {
	color: inherit;
}


#jevents_body p {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 100%;
	margin: 2px 0px;
}

#jevents_body hr {
	color : #000000;
	height: 1px;
}

#jevents_body .textinput {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #686868;
	border-left-style: solid;
	border-left-width: 1px;
	border-left-color: #9BAAAF;

	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-bottom-color: #AABBBF;

	border-top-style: solid;
	border-top-width: 1px;
	border-top-color: #9BAAAF;

	border-right-style: solid;
	border-right-width: 1px;
	border-right-color: #9BAAAF;	
	padding-right: 3px;
	padding-left: 3px;
  background-image:   url(../images/txtboxbg.gif);

}

#jevents_body .textarea {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size:11px;
	color: #686868;
	border-left-style: solid;
	border-left-width: 1px;
	border-left-color: #9BAAAF;

	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-bottom-color: #AABBBF;

	border-top-style: solid;
	border-top-width: 1px;
	border-top-color: #9BAAAF;

	border-right-style: solid;
	border-right-width: 1px;
	border-right-color: #9BAAAF;	
	padding-right: 3px;
	padding-left: 3px;

}

#jevents_body .listbox {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	border: groove 1px;
}

#jevents_body .button {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	border: 1px solid #AABBBF;
	background-color : #FFFFFF;
    color:#404F59;
	background-image: url("images/btn_bg.gif");
	padding: 2px;
}



#jevents_body .apptitle { 
	font-family: Verdana, Arial, Helvetica, sans-serif; font-size:18px; font-weight: bold; 
}

#jevents_body .appdesc { 
	font-family: Arial, Helvetica, sans-serif; font-size:10px; font-weight: normal; 
}




#jevents_body .searchlink {
	font-size: 10px;
	color: #606F79;
	text-decoration: underline;
	font-weight: bold;
}

#jevents_body .searchlink:hover {
	color: #8090A3;
}

#jevents_body .searchdesc {
	font-size: 10px;
	color: #606F79;
}

#jevents_body .eventtitle {
	font-size: 10px;
	color: #606F79;
	text-decoration: none;
	font-weight: bold;
}

#jevents_body .eventtitle:hover {
	color: #8090A3;
}

#jevents_body .eventdesc {
	font-size: 10px;
	color: #606F79;
}

#jevents_body .eventdesclarge {
	font-size: 12px;
	color: #505F69;
	line-height: 18px;
}

#jevents_body .cattitle, #jevents_body .usertitle, #jevents_body .grouptitle {
	font-size: 11px;
	color: #606F79;
	text-decoration: none;
	font-weight: bold;
}

#jevents_body .cattitle:hover, #jevents_body .usertitle:hover, #jevents_body .grouptitle:hover {
	color: #8090A3;
}

#jevents_body .catdesc, #jevents_body .userdesc, #jevents_body .groupdesc {
	font-size: 10px;
	color: #606F79;
}

#jevents_body .titlehighlight {
	color: #4488BB;
	text-decoration: underline;
}

#jevents_body .highlight {
	color: #80A000;
	text-decoration: underline;
}


#jevents_body .tableh2   {
	background-image:  url(../images/tile_sub.gif);
	background-color: #708088 ;
	border-left: 1px solid #95A5AD;
	border-right: 0px solid #62727A;
	margin: 0px;
	color : white;
	padding-top: 6px;
	padding-right: 12px;
	padding-bottom: 6px;
	padding-left: 12px;
	font-size: 10px;
	font-weight: bold;
}

#jevents_body .tableh2 a{
	color:#cccccc;
}

#jevents_body .tableh2_nobackground   {
	color : white;
	font-size: 10px;
	font-weight: bold;
}

#jevents_body .tableb {
	color : black;
	background-color: #E4E8E8 ;
	padding-top: 6px;
	padding-right: 10px;
	padding-bottom: 6px;
	padding-left: 10px;
	border-left: 1px solid #FFFFFF;
	border-top: 1px solid #FFFFFF;
	line-height: 16px;
}

#jevents_body .tablec {
	color : black;
	background-color: #d8e0e4;
	padding-top: 3px;
	padding-right: 10px;
	padding-bottom: 3px;
	padding-left: 10px;
	border-left: 1px solid #FFFFFF;
	border-top: 1px solid #FFFFFF;
}



#jevents_body .error {
	color : Red;
	font-weight : bold;
}


#jevents_body .atomic {
	font-size: 9px;
}

/* Component Legend Styling
   float div to get table like view 
   border-color is set to category color by code */
#jevents_body .event_legend_container {
	border: none;
}
#jevents_body  div.event_legend_item {
	float:left;
	border-left-width:0px;
	border-left-style:solid;
	padding-left:4px;
	margin-top:5px;
	margin-left:0px;
	margin-bottom:4px;
	width:90px;
	white-space:nowrap;
	overflow:hidden;
}
#jevents_body div.event_legend_name {
	border-left-width:3px;
	border-left-style:solid;
	padding: 0px 0px 0px 4px;

	font-family: Arial, Helvetica, sans-serif;
	letter-spacing: 0.4pt;
	font-size: 11px;
}
#jevents_body div.event_legend_desc {
	border-left-width:3px;
	border-left-style:solid;
	padding: 0px 0px 0px 4px;
	display:none;
}
/* end component legend */

/* Weekday Label Cells */

#jevents_body .caldaydigits {
	font-size: 9px;
}


/* Day Cells */

#jevents_body .weekdayclr {
	background-color: #EEF0F0;
	color: #C0C4C8;
	font-size: 10px;
	border-left: 1px solid #FFFFFF;
	border-top: 1px solid #FFFFFF;
}

#jevents_body .todayclr {
	background-color: #D0E6F6;
	color: #C0C4C8;
	font-size: 10px;
	border-left: 1px solid #FFFFFF;
	border-top: 1px solid #FFFFFF;
}

#jevents_body .sundayemptyclr {
	background-color: #DDE0E0;
	color: #C0C4C8;
	font-size: 10px;
	border-left: 1px solid #FFFFFF;
	border-top: 1px solid #FFFFFF;
}

#jevents_body .weekdayemptyclr {
	background-color: #E4E8E8;
	color: #C0C4C8;
	font-size: 10px;
	border-left: 1px solid #FFFFFF;
	border-top: 1px solid #FFFFFF;
}

/* Text Editor classes */

#jevents_body .tdBtn {
  padding-left: 3px;
  padding-top:3px;
}

#jevents_body .btnOut {    
  border: 1px solid;
  border-color: #E4E8E8;
	background-color: #E4E8E8;
}

#jevents_body .btnOver {    
  border: 1px solid;
  border-top-color: #FFFFFF;
  border-left-color: #FFFFFF;
  border-right-color: #C0C4C4;
  border-bottom-color: #C0C4C4;
	background-color: #E4E8E8;
	cursor: pointer;
}

#jevents_body .btnDown {    
  border: 1px solid;
  border-top-color: #C0C4C4;
  border-left-color: #C0C4C4;
  border-right-color: #FFFFFF;
  border-bottom-color: #FFFFFF;
	background-color: #D4D8D8;
	cursor: pointer;
}

#jevents_body a.flatButton img {
  border: 1px solid #E4E8E8;
  border-color: #d8e0e4;
}

#jevents_body a.flatButton:hover img {
  border: 1px solid;
  border-top-color: #FFFFFF;
  border-left-color: #FFFFFF;
  border-right-color: #C0C4C4;
  border-bottom-color: #C0C4C4;
	background-color: #E4E8E8;
	cursor: pointer;
}


div.jev_pagination {
	width:100%;
	text-align:center;
}
/***************************
* Daily View 
***************************/
#jevents_body li.ev_td_li{ 
	border-style:solid;
	border-width:0px 0px 1px 5px;
	display:block;
	margin:0px 10px;
	list-style-type:none!important;
}

/***************************
* Detail View 
***************************/
.ev_prevrepeat {
	line-height:20px;
	float:left;
	margin-right:30px;
}
.ev_nextrepeat {
	line-height:20px;
	float:left;
}

div.jev_adminfilter {
	text-align:center;
	font-weight:bold;
	margin:5px auto 10px auto; 
}

a.addjevent {
	width:16px;
	height:16px;
	margin-right:2px;
	float:right;
    background-image: url("../images/add.png")!important;;
   	background-repeat: no-repeat; 
   	background-position: top left;
   	visibility:hidden;
}
a.addjevent img {
border-width:0px!important;
}
td.showjevadd a.addjevent {
   	visibility:visible;
}

/***************************************
* Mootools ToolTips for JEvents Calendar
****************************************/
.jevtip-tip, .jevtip {
   float: left;
   background: #f5f5f5;
   border: 1px solid #D4D5AA;
   padding: 0px;
   max-width: 400px;
   z-index:99;
   font-size:10pt;
} 
.jevtip-text {
   padding: 0;
   margin: 0;
   font-size: 0.8em;
}
 
div.jevtt_title{
   font-weight: bold;
   font-size: 1.2em;
	padding:2px;
	width:196px;
}
div.jevtt_text{
	padding:2px;
	width:196px;
}


/* Print version */
@media print {
   table.contentpaneopen {
   		background-image:none!important;
       background-color:white!important;
   }
	div.ev_navigation {
		display:none;
	}
	div.ev_adminpanel {
		display:none;
	}
	.ev_noprint {
		display:none;
	}
}

