div.ev_navigation , #jevents_body, #jevents_header, .ev_table{
	width:630px!important;
}
#jevents_body table.jevicons {
	width:627px;
}
.jev_toprow .jev_header {
	width:623px;
}
.jev_toprow .jev_header2 {
	width:625px;
}
#jevents_body .jev_toprow h2 {
    width:280px;
}
#jevents_body .jev_toprow div.today {
    width:280px;
}
.jev_toprow div.previousmonth , .jev_toprow div.nextmonth {  
    width:172px;
}
.jev_toprow div.currentmonth{ 
   width:258px;
}
.jev_listview div.currentmonth{ 
   width:280px;
}

.jev_toprow {
	width:625px;
}
.jev_topleft {
	width:23px;
}
.jev_daysnames {
    width:86px;
}
 .jev_pagination {
	width:625px;
}
.jev_listview .jev_daysnames{
	width:615px;
}

.jev_listview .jev_listrow {
	width:625px;
}

table.jev_row {
   	background:url(../images/back625g.jpg) repeat-y transparent top left;
}
.jeventsdark table.jev_row {
   	background:url(../images/back625d.png) repeat-y transparent top left;
}
table.jev_row td {
	border-spacing:0px;
}
table.jev_eventsrow td {
	width:85px;
}

table.jev_eventsrow .jev_weeknum{
	width:23px;
}
#jevents_body .event_legend_container {
	width:625px;
}

td.jevdaydata {
	width:602px;
}
div.eventfull div{
	width:74px;
}

div.jev_dayoutofmonth {
	width:85px;
}
div.jev_lastday {
	width:84px;
	border-right-width:0px;
}
div.jev_lastdaynum {
	width:83px!important;
	border-right-width:0px;
}

div.jev_daynum {
	width:84px;
}

div.jevblocks0 {
	width:0px!important;
}
div.jevblocks0 div.eventfull {
}

div.jevblocks1 {
	width:86px!important;
	min-height:1px;
}
div.jevblocks1 div.eventfull{
	width:82px!important;
}

div.jevblocks2 {
	width:171px!important;
}
div.jevblocks2 div.eventfull{
	width:168px!important;
}
div.jevblocks2 div.eventfull div{
	width:160px;
}
div.jevblocks3 {
	width:257px!important;
}
div.jevblocks3 div.eventfull{
	width:254px!important;
}
div.jevblocks3 div.eventfull div{
	width:246px;
}

div.jevblocks4 {
	width:343px!important;
}
div.jevblocks4 div.eventfull{
	width:340px!important;
}
div.jevblocks4 div.eventfull div{
	width:332px;
}

div.jevblocks5 {
	width:429px!important;
}
div.jevblocks5 div.eventfull{
	width:426px!important;
}
div.jevblocks5 div.eventfull div{
	width:418px;
}

div.jevblocks6 {
	width:515px!important;
}
div.jevblocks6 div.eventfull{
	width:512px!important;
}
div.jevblocks6 div.eventfull div{
	width:504px;
}

div.jevblocks7 {
	width:598px!important;
}
div.jevblocks7 div.eventfull{
	width:598px!important;
}
div.jevblocks7 div.eventfull div{
	width:590px;
}


/* RTL changes */
table.jevrtl table.jev_row {
   	background:url(../images/back625r.jpg) repeat-y transparent top left;
}

table.jevrtl div.jev_daynum {
	width:84px;
}
table.jevrtl div.jev_lastday {
	width:84px;
}
table.jevrtl div.jev_lastdaynum {
	width:82px;
}