/* Sliders */
.pane-sliders {
	margin: 0;
	position: relative;
}
.pane-sliders .title {
	margin: 0;
	padding: 2px;
	cursor: pointer;
}
.pane-sliders .panel {
	margin-bottom: 3px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}
.pane-sliders .adminlist td {
	border: 0 none;
}
h3.pane-toggler-down a:focus,
h3.pane-toggler a:focus {
	outline: none;
}
.pane-toggler span {
	padding-left: 20px;
}
.pane-toggler-down span {
	padding-left: 20px;
}
.pane-slider.pane-hide {
	display: none;
}
div#position-icon.pane-sliders div.pane-down div.icon-wrapper {
	margin: 5px 0 5px 0;
}
div#position-icon.pane-sliders div.pane-down .icon-wrapper .icon {
	padding: 5px 0 5px 10px;
	margin: 0;
}

/*Sliders color */
.pane-sliders .title {
	color: #2c2c2c;
}
.pane-sliders .panel {
	border: 1px solid #CCC;
}
.pane-sliders .panel h3 {
	font-size: 1.182em;
}
.pane-sliders .panel h3:hover {
	background: #e5d9c3;
}
.pane-sliders .panel h3:hover a {
	text-decoration: none;
}
.pane-sliders .adminlist {
	border: 0 none;
}
.pane-sliders .adminlist td {
	border: 0 none;
}
.pane-toggler span {
	background: transparent url('../images/j_arrow.png') 5px 50% no-repeat;
}
.pane-toggler-down span {
	background: transparent url('../images/j_arrow_down.png') 5px 50% no-repeat;
}
.pane-toggler-down {
	border-bottom: 1px solid #738498;
}
.pane-sliders th, .pane-sliders td {
	text-align:left;
	padding:5px;
}

.versionsinfo {
	width:100%;
	margin:0px;
}

/* -- CONTROL PANEL STYLES ----------------------------- */
.cpanel div.icon, #cpanel div.icon {
	text-align: center;
	margin-right: 15px;
	float: left;
	margin-bottom: 15px;
	font-size:12px;
	line-height: 14px;
}
.cpanel div.icon a, #cpanel div.icon a {
	background-color: #fff;
	background-position: -30px;
	display: block;
	float: left;
	height: 97px;
	width: 108px;
	color: #565656;
	vertical-align: middle;
	text-decoration: none;
	border: 1px solid #CCC;
	padding:3px;

	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	-webkit-transition-duration: 0.8s;
	-moz-transition-duration: 0.8s;
	transition-duration: 0.8s;
}

#cpanel div.icon a:hover,
#cpanel div.icon a:focus,
#cpanel div.icon a:active,
.cpanel div.icon a:hover,
.cpanel div.icon a:focus,
.cpanel div.icon a:active {
	background-position: 0;
	-webkit-border-bottom-left-radius: 50% 20px;
	-moz-border-radius-bottomleft: 50% 20px;
	border-bottom-left-radius: 50% 20px;
	-webkit-box-shadow: -5px 10px 15px rgba(0, 0, 0, 0.25);
	-moz-box-shadow: -5px 10px 15px rgba(0, 0, 0, 0.25);
	box-shadow: -5px 10px 15px rgba(0, 0, 0, 0.25);
	position: relative;
	z-index: 10;
}

#cpanel img,
.cpanel img {
	padding: 10px 0;
	margin: 0 auto;
}

#cpanel span,
.cpanel span {
	display: block;
	text-align: center;
}

div.cpanel-left {
	width: 54%;
	float: left;
}
div.cpanel-right {
	width: 45%;
	float: right;
}

/* params editing styling */
.paramlist_key {
	width:30%;
	padding-bottom:10px;
}

/* Form styling for checkboxes etc. */
fieldset.checkboxes ul {
    margin-left:0px;
}
fieldset.checkboxes li {
    float:left;
    margin-left: 5px;
    margin-right:0px;
    list-style: none;
}

/* Editing styles */
#jevents .control-group > label {
    float: left;
}

td.r1, span.r1 {
	background-color:#eeeeee!important;
	padding:5px 5px 0px 0px;
}
td.r2, span.r2 {
	padding-right:5px;
}
div#jevents input,div#jevents textarea,div#jevents inputbox {
	padding:3px 5px;
	width: auto;
}
div#jevents select {
	padding:3px 5px;
}
div#jevents .countback {
	margin-top:10px;
}

div#jevoverlapwarning {
	border:solid 1px red;
	padding:5px;
	display:none;
}
div#jevoverlapwarning h4 {
	font-weight:bold;
	margin:5px 0px;
}

.jev_edit_event_notice {
	width:500px;
}
a#colorPickButton {
	text-decoration:none;
	padding:5px;
}
.icon-32-save 			{ background-image: url('../images/icon-32-save.png'); }
.icon-32-edit 			{ background-image: url('../images/icon-32-edit.png'); }
.icon-32-cancel 		{ background-image: url('../images/icon-32-cancel.png'); }
.icon-32-apply			{ background-image: url('../images/icon-32-apply.png'); }

#interval_div {
	margin-top:20px;
	clear:both;
	display:none;
}
#byyearday,#bymonth,#byweekno,#bymonthday,#byday {
	float:left;
	display:none;
	margin-right:1em;
	margin-top:10px;
}

#jevents  fieldset.checkboxes li label {
	display:block;
}
#jevents  fieldset.checkboxes li {min-width: 40px;}
div.icon-48-jevents { height: 45px; width:170px; }
/* workaround for stupid protostar sizing defaults which eliminate multi-select list height settings*/
.select[multiple],select[size] {
	height: auto!important;
}

#filter-bar .fltrt {
	float:right;
}
.adminlist {
	width:100%;
	margin-top:10px;
}

table.versionstatuslist tr:nth-child(odd)		{ background-color:#f5f5f5;}
table.versionstatuslist tr:nth-child(even)		{ background-color:#fff; }
table.versionstatuslist a {color: #08c;font-weight:bolder; font-size: 12px;}

/* Bootstrap styling - ensure minimal width for list! */
/*#jevents .jevminwidth { width:250px;}*/

/* Fix for bad templates that leave default modal class unchanged in bootstrap */
#jevents a.modal {
	position:static;
}
.radio.btn > input[type="radio"] {
    display: none;
}

.form-inline #publish_up-lbl, .form-inline #publish_down-lbl  {
	width:100px;
}
.form-inline #start_time-lbl, .form-inline #end_time-lbl  {
	width:80px;
}
#cu_until,#cu_count , #interval_div > div, #byyearday, #bymonth,#bymonthday,#byweekno, #byday, #bysetpos{
	padding:5px;
	border-radius:10px;
}
#jevents fieldset legend input[type='radio'] {margin-right:10px}

.tip-wrap {
	max-width:80%!important;
	text-align: left!important;
}

.jevdate_labels {
	float:left;
	min-width:80px
}
.jevdate_date {
	float:left;
}

#selectlocationbutton {
	margin-left: 5px;   
}

.hiddenDifficulty  {
	display: none;
}

#myParamsTabs {
    background-color: #FFFFFF;
    border-bottom-left-radius: 5px;
    border-color: #DDDDDD;
    border-style: solid;
    border-top-left-radius: 5px;
    border-width: 1px 0 1px 1px;
    margin-right: -1px;
}
#myParamsTabsContent table.paramlist {
    width: 100%;
}
#myParamsTabsContent {
	border:1px solid #ddd;
	margin-top:-19px;
	padding: 15px;
    border-radius: 5px;
    border-top-left-radius: 0;
}
.jev_config_version {
	background-color: #ededed;
	border:1px solid #ddd;
	border-radius: 3px;
	float:right;
	margin-top:-20px;
	padding:2px 5px 2px 5px;
}
#start_ampm label, #end_ampm label {
    padding-left:8px;
    padding-right: 8px;
}
.jeveditrepeats {margin-bottom:12px;}

/* Toolbar - stop buttons being vertical*/
.jeventslight #toolbar.btn-toolbar div , .jeventsdark  #toolbar.btn-toolbar div{
	display:inline-block;
	margin-right:6px;
}
table.settings_level {text-align:left;}
table.settings_level .difficulty1 .paramlist_value {vertical-align: top;}
table.settings_level label#jform_com_difficulty-lbl {width:150px;margin-bottom:15px;}
.nav.nav-list.config { width: 15%; float: left;}
.jevconfig #myParamsTabsContent.tab-content  {width: 75%; float: left; margin-top:0px;}

/* We need to hide links from print views, it looks silly with so many events */
@media print {
	a[href]:after {
		content:"" !important;
	}
    abbr[title]:after {
		content: "" !important;
	}
}