<?xml version="1.0" encoding="utf-8"?><!-- $Id: config.xml 3576 2012-05-01 14:11:04Z geraintedwards $ -->
<config>

	<fieldset name="JEV_TAB_COMPONENT" addfieldpath="/administrator/components/com_jevents/fields/" difficulty="1">

		<field name="com_difficulty" type="radio" default="1" class="gsl-button-group" label="JEV_CONFIG_OPTIONS_TO_SHOW"
		       description="JEV_CONFIG_OPTIONS_TO_SHOW_DESC" difficulty="1">
			<option value="1"
					class="gsl-button-small"
			        onclick="document.querySelectorAll('.difficulty2, .difficulty3').forEach(function(elem, index){elem.classList.add('hiddenDifficulty');});">
				JEV_BASIC
			</option>
			<option value="2" onclick="document.querySelectorAll('.difficulty3').forEach(function(elem, index){elem.classList.add('hiddenDifficulty');});
                                       document.querySelectorAll('.difficulty2').forEach(function(elem, index){elem.classList.remove('hiddenDifficulty');});"
				class="gsl-button-small"
					>
				JEV_INTERMEDIATE
			</option>
			<option value="3"
					class="gsl-button-small"
			        onclick="document.querySelectorAll('.difficulty2, .difficulty3').forEach(function(elem,idx){elem.classList.remove('hiddenDifficulty');});">
				JEV_ADVANCED
			</option>
		</field>

		<field name="framework"
			   type="jevlist"
			   default="native"
			   label="JEV_FRONTEND_FRAMEWORK"
			   description="JEV_FRONTEND_FRAMEWORK_DESC"
			   difficulty="1">
			<option value="native">JEV_CORE_JOOMLA_BOOSTRAP</option>
			<option value="bootstrap3">JEV_BOOSTRAP3</option>
			<option value="bootstrap4">JEV_BOOSTRAP4</option>
			<option value="bootstrap5">JEV_BOOSTRAP5</option>
			<option value="uikit3">JEV_UIKIT3</option>
		</field>
		<field name="bootstrapcss" type="jevlist" default="1" label="JEV_LOAD_BOOTSTRAP_CSS"
			   description="JEV_LOAD_BOOTSTRAP_CSS_DESC" difficulty="2" minjoomlaversion="2.5.0"
			   showon="framework!:uikit3"
		>
			<option value="0">JEV_DO_NOT_LOAD_BOOSTRAP</option>
			<option value="1" maxjoomlaversion="3.99999">JEV_USE_JEVENTS_BOOTSTRAP</option>
			<option value="2">JEV_USE_JOOMLA_BOOTSTRAP</option>
		</field>

		<field name="clubcode_spacer" type="jevinfo" default='JEV_JOOMLA_UPDATE_CLUBCODE_INFO' menu="hide" label=""
		       description="" difficulty="1"/>
		<field name="clubcode" type="jevtext" size="60" default='' menu="hide" label="JEV_JOOMLA_UPDATE_CLUBCODE"
		       description="JEV_JOOMLA_UPDATE_CLUBCODE_DESC" difficulty="1"/>
		<field name="hideunusedmenuitems" type="jevboolean"
			   class="gsl-button-group" default="0" menu="hide"
			   label="COM_JEVENTS_HIDE_UNUSED_MENU_ITEMS"
			   description="COM_JEVENTS_HIDE_UNUSED_MENU_ITEMS_DESC" difficulty="3"
			   showon="clubcode!:"
		/>

		<field name="shownews" type="jevboolean" class="gsl-button-group" default="1" menu="hide" label="COM_JEVENTS_SHOW_JEVENTS_NEWS"
			   description="COM_JEVENTS_SHOW_JEVENTS_NEWS_DESC" difficulty="3"
			   showon="clubcode!:"
		/>

		<field name="landingpage" type="radio" class="gsl-button-group"  default="cpanel.cpanel" label="COM_JEVENTS_ADMIN_LANDING_PAGE"
			   description="COM_JEVENTS_ADMIN_LANDING_PAGE_DESC" difficulty="1">
			<option value="cpanel.cpanel">JEVENTS_DASHBOARD</option>
			<option value="icalevent.list">JEV_ADMIN_ICAL_EVENTS</option>
		</field>

		<field name="leftmenutrigger" type="jevlist" default="0" label="JEV_BACKEND_LEFT_MENU_HANDLER"
			   description="JEV_BACKEND_LEFT_MENU_HANDLER_DESC" difficulty="1">
			<option value="0">JEV_MOUSEOVER_TOUCH</option>
			<option value="1">JEV_CLICK_TOUCH</option>
			<option value="2">JEV_NO_LEFT_MENU_LABELS</option>
			<option value="3">JEV_LEFT_MENU_LABELS_AWAY_VISIBLE</option>
		</field>

		<field name="j4sidebar" type="jevboolean" class="gsl-button-group"  default="0" label="JEV_BACKEND_J4_SHOW_SIDEBAR"
			   description="JEV_BACKEND_J4_SHOW_SIDEBAR_DESC" difficulty="1">
		</field>

		<field name="com_calViewName" type="jevview" default="flat" except="float" menu="hide" label="JEV_VIEWNAME"
		       description="JEV_TIP_VIEWNAME" difficulty="1"/>
		<field name="darktemplate" type="jevboolean" class="gsl-button-group" default="0" menu="hide" label="JEV_DARK_TEMPLATE"
		       description="JEV_DARK_TEMPLATE_DESC" difficulty="1"/>

		<field name="com_dateformat" type="jevlist" default="0" label="JEV_DATE_FORMAT"
		       description="JEV_DATE_FORMAT_DESC" difficulty="1">
			<option value="0">JEV_FRENCH_ENGLISH</option>
			<option value="1">JEV_US</option>
			<option value="2">JEV_CONTINENTAL_GERMAN</option>
			<option value="3">JEV_FROM_LANGUAGE_FILE</option>
		</field>

		<field name="com_calHeadline" type="jevlist" default='comp' menu="hide" label="JEV_HEADLINE"
		       description="JEV_HEADLINE_TIP" difficulty="2">
			<option value="comp">JEV_HEADLINE_COMP</option>
			<option value="none">JEV_HEADLINE_NONE</option>
			<option value="menu">JEV_HEADLINE_MENU</option>
		</field>
		<field name="com_calUseIconic" type="jevlist" default="1" label="JEV_ICONIC_NAVBAR" description=""
		       difficulty="2">
			<option value="1">JEV_NAVIGATION_ICONS</option>
			<option value="-1">HIDE_ALTOGETHER</option>
			<option value="2">ICONS_WITHOUT_NAVIGATION</option>
			<option value="0">JEV_OLD_STYLE_NAVIGATION</option>
		</field>
		<field name="iconstoshow" type="jevmultilist" default="byyear,bymonth,byweek,byday,search" multiple="multiple"
		       size="6" label="JEV_ICONS_TO_SHOW" description="JEV_ICONS_TO_SHOW_DESC" difficulty="2"
		       showon="com_calUseIconic:1,2">
			<option value="byyear">JEVENTS_LIST_YEAR_DEFAULT_TITLE</option>
			<option value="bymonth">JEVENTS_MONTH_VIEW_DEFAULT_TITLE</option>
			<option value="byweek">JEVENTS_LIST_WEEK_DEFAULT_TITLE</option>
			<option value="byday">JEVENTS_LIST_DAY_DEFAULT_TITLE</option>
			<option value="bycat">JEVENTS_LIST_CATEGORY_DEFAULT_TITLE</option>
			<option value="search">JEVENTS_SEARCH_DEFAULT_TITLE</option>
		</field>

		<field name="com_navbarcolor" type="jevmultilist" default='green' menu="hide" label="JEV_NAV_BAR_COLOR"
		       description="" difficulty="1" showon="com_calUseIconic:0">
			<option value="green">JEV_NAV_BAR_GREEN</option>
			<option value="orange">JEV_NAV_BAR_ORANGE</option>
			<option value="blue">JEV_NAV_BAR_BLUE</option>
			<option value="red">JEV_NAV_BAR_RED</option>
			<option value="gray">JEV_NAV_BAR_GRAY</option>
			<option value="yellow">JEV_NAV_BAR_YELLOW</option>
		</field>
		<field name="com_earliestyear" type="jevtext" default="-2" menu="hide" size="6" label="JEV_EARLIEST_YEAR"
		       description="JEV_EARLIEST_YEAR_DESC" difficulty="1"/>
		<field name="com_latestyear" type="jevtext" default="+5" menu="hide" size="6" label="JEV_LATEST_YEAR"
		       description="JEV_LATEST_YEAR_DESC" difficulty="1"/>
		<field name="com_starday" type="jevlist" default="1" menu="hide" label="JEV_FIRST_DAY" description=""
		       difficulty="1">
			<option value="0">JEV_SUNDAY_FIRST</option>
			<option value="1">JEV_MONDAY_FIRST</option>
			<option value="6">JEV_SATURDAY_FIRST</option>
		</field>
		<field name="com_byview" type="jevboolean" class="gsl-button-group" default="1" menu="hide" label="JEV_VIEW_BY"
		       description="" difficulty="1"/>
		<field name="com_print_icon_view" type="jevboolean" class="gsl-button-group" default="1" menu="hide"
		       label="JEV_SHOW_PRINT_ICON" description="JEV_SHOW_PRINT_ICON_TIP" difficulty="1"/>
		<field name="com_email_icon_view" type="jevboolean" class="gsl-button-group" default="1" menu="hide"
		       label="JEV_SHOW_EMAIL_ICON" description="JEV_SHOW_EMAIL_ICON_TIP" difficulty="1"/>
		<field name="fixjquery" type="jevboolean" class="gsl-button-group" default="1" label="JEV_FIX_JQUERY"
		       description="JEV_FIX_JQUERY_TIP" difficulty="2" maxjoomlaversion="3.99.99"/>
		<!--
		<field name="joomlatags" type="jevboolean" class="gsl-button-group" default="1" menu="hide" label="COM_JEVENTS_USE_JOOMLA_TAGS"
			   description="" difficulty="1"/>
		//-->
		<!--
		<field name="bootstrapjs" type="jevlist"  default="1" label="JEV_LOAD_BOOTSTRAP_JS" description="JEV_LOAD_BOOTSTRAP_JS_DESC" difficulty="2" minjoomlaversion="3.0.0" >
			<option value="0">JEV_DO_NOT_LOAD_BOOSTRAP_JS</option>
			<option value="1">JEV_USE_JOOMLA_BOOTSTRAP_JS</option>
		</field>
		//-->
		<!--
		<field name="usejquery" type="jevboolean" class="gsl-button-group" default="0" label="JEV_USE_JQUERY" description="JEV_USE_JQUERY_TIP" difficulty="2" maxjoomlaversion="2.99.99" />
		<field name="com_copyright" type="jevboolmsg" class="gsl-button-group" default="1" menu="hide" label="JEV_SHOW_COPYRIGHT" description=""  difficulty="2"/>
		//-->
		<!--
		<field name="showPanelNews" type="jevboolean" class="gsl-button-group" default="1" label="JEV_News" description="CPANEL_NEWS_HELP" difficulty="2"/>
		-->
		<!--
		<field name="mergemenus" type="jevboolean" class="gsl-button-group" default="0" menu="hide" label="JEV_MERGE_MENUS"
		       description="JEV_MERGE_MENUS_TIP" difficulty="2"/>
		//-->

		<field name="show_adminpanel" type="jevboolean" class="gsl-button-group" default="1" menu="hide"
		       label="JEV_SHOW_ADMIN_PANEL" description="JEV_SHOW_ADMIN_PANEL_DESC" difficulty="2"/>

		<field name="spacer_tzi2" type="jevinfo" default="JEV_TIMEZONE_INFO_2" menu="hide" label="" description=""
		       difficulty="3"/>
		<!-- TIMEZONE DATA //-->
		<!-- see http://www.php.net/manual/en/datetimezone.listidentifiers.php //-->
		<field name="icaltimezonelive" type="jevtimezone" default="" menu="hide" label="JEV_TIMEZONE_2"
		       description="JEV_TIMEZONE_2_DESC" difficulty="3"/>

		<field name="regexsearch" type="jevlist" default="1" label="JEV_SEARCH_TYPE" description="JEV_SEARCH_TYPE_DESC"
		       difficulty="3">
			<option value="1">JEV_REGEX</option>
			<option value="0">JEV_FULL_TEXT</option>
		</field>

		<field name="catseparator" type="jevtext" default="," menu="hide" size="2" label="JEV_CATEGORY_SEPARATOR"
		       description="JEV_CATEGORY_SEPARATOR_DESC" difficulty="3"/>

		<field name="daylist_multifirst" type="jevboolean" class="gsl-button-group" default="0" menu="hide"
		       label="JEV_LIST_MULTIDAY_EVENTS_FIRST_IN_DAY_LIST"
		       description="JEV_LIST_MULTIDAY_EVENTS_FIRST_IN_DAY_LIST_DESC" difficulty="2"/>

		<!--//
		<field name="jevkey" type="jevkey" default="" menu="hide" size="40" label='COPYRIGHT_MESSAGE_KEY'  description='PLEASE_USE_THIS_KEY_CODE_AT_THE_JEVENTS_WEBSITE_TO_OBTAIN_A_FREE_CODE_THAT_WILL_DISABLE_THE_COPYRIGHT_MESSAGE'  />
		<field name="jevunlock" type="jevunlock" default="" menu="hide" size="40" label='COPYRIGHT_UNLOCK_CODE'  description='YOU_CAN_OBTAIN_THIS_FREE_CODE_FROM_THE_JEVENTS_WEBSITE'  />
		//-->
	</fieldset>

	<fieldset name="JEV_STRUCTURED_EVENT_DATA" difficulty="1">

		<field name="sevdnote" type="note"
			   menu="hide"
			   label="JEV_STRUCTURED_EVENT_DATA_LABEL"
			   description="JEV_STRUCTURED_EVENT_DATA_DESC"
			   difficulty="1"
		/>

		<field name="enable_gsed" type="jevboolean"
			   class="gsl-button-group" default="0"
			   menu="hide"
			   label="JEV_ENABLE_STRUCTURED_EVENT_DATA"
			   description=""
			   difficulty="1"/>

		<field name="ldjson_striptags" type="jevboolean"
			   class="gsl-button-group" default="1"
			   menu="hide"
			   label='JEV_STRUCTURED_EVENT_DATA_STRIP_TAGS'
			   description='JEV_STRUCTURED_EVENT_DATA_STRIP_TAGS_DESC'
			   difficulty="1"/>

		<field
				name="sevd_imagename"
				type="jevimagename"
				default="0"
				label="STRUCTURED_EVENT_DATA_IMAGE_LABEL"
				description="STRUCTURED_EVENT_DATA_IMAGE_DESC"
				showon="enable_gsed:1"
		/>

		<field
				name="sevd_imagesize"
				type="jevtext"
				default="1920x1920"
				label="STRUCTURED_EVENT_DATA_IMAGE_SIZE_LABEL"
				description="STRUCTURED_EVENT_DATA_IMAGE_SIZE_DESC"
				showon="enable_gsed:1"
		/>

        <field
                name="sevd_defaultimage"
                type="jevtext"
                default="/components/com_jevents/images/logo.png"
                label="STRUCTURED_EVENT_DATA_DEFAULT_IMAGE_LABEL"
                description="STRUCTURED_EVENT_DATA_DEFAULT_IMAGE_DESC"
                showon="enable_gsed:1"
        />

        <field
				name="sevd_peopletype"
				type="jevpeople"
				default="0"
				label="STRUCTURED_EVENT_DATA_PERSON_TYPE_LABEL"
				description="STRUCTURED_EVENT_DATA_PERSON_TYPE_DESC"
				showon="enable_gsed:1"
		/>

		<field
				name="sevd_organizertype"
				type="jevpeople"
				default="0"
				label="STRUCTURED_EVENT_DATA_ORGANIZER_TYPE_LABEL"
				description="STRUCTURED_EVENT_DATA_ORGANIZER_TYPE_DESC"
				showon="enable_gsed:1"
				conditions="1"
		/>

		<field
				name="sevd_onlineeventfield"
				type="jevcustomfield"
				fieldtype="jevcfonlineevent"
				default="0"
				label="STRUCTURED_EVENT_DATA_ONLINE_EVENT_DETAILS_LABEL"
				description="STRUCTURED_EVENT_DATA_ONLINE_EVENT_DETAILS_DESC"
				selectmessage="SELECT_ONLINE_EVENT_DETAILS"
				badconfigmessage="STRUCTURED_DATA_OUTPUT_REQUIRES_CUSTOM_FIELDS_AND_EVENT_URL_SET_UP"
				showon="enable_gsed:1"
				conditions="1"
		/>

		<field
				name="sevd_eventstatus"
				type="jevcustomfield"
				fieldtype="jevcfeventstatus"
				default="0"
				label="STRUCTURED_EVENT_DATA_EVENT_STATUS_DETAILS_LABEL"
				description="STRUCTURED_EVENT_DATA_EVENT_STATUS_DETAILS_DESC"
				badconfigmessage="STRUCTURED_DATA_OUTPUT_REQUIRES_CUSTOM_FIELDS_AND_EVENT_URL_SET_UP"
				selectmessage="SELECT_EVENT_STATUS_DETAILS"
				showon="enable_gsed:1"
				conditions="1"
		/>
<!--
Default should be set by the custom field
		<field name="sevd_eventstatus_default"
			   type="list"
			   class="gsl-select"
			   default="0"
			   multiple="multiple"
			   menu="hide"
			   size="6"
			   label='STRUCTURED_EVENT_DATA_EVENT_STATUS_DEFAULT_LABEL'
			   description='STRUCTURED_EVENT_DATA_EVENT_STATUS_DEFAULT__DESC'
			   showon="sevd_eventstatus!:0"
		>
			<option value="0">SELECT_STRUCTURED_EVENT_DATA_EVENT_STATUS_DEFAULT</option>
			<option value="1">EventScheduled</option>
			<option value="2">EventCancelled</option>
			<option value="3">EventMovedOnline</option>
			<option value="4">EventPostponed</option>
			<option value="5">Eventrescheduled</option>
		</field>
//-->
	</fieldset>


	<fieldset  name="JEV_PERMISSIONS" difficulty="1">
		<field name="jevadmin" type="jevuser" default="62"  menu="hide" label='ADMIN_USER'  description='ADMIN_USER_DESC' difficulty="1"/>

		<field name="authorisedonly" type="jevboolean" class="gsl-button-group" default="0" menu="hide"
		       label='ENABLE_USER_AUTHORISATION' description='ENABLE_USER_AUTHORISATION_DESC' difficulty="1"/>
		<field name="jevpublishown" type="radio" class="gsl-button-group" default="0" menu="hide" label="PUBLISH_OWN"
		       description="JEVPUBLISH_OWN_TIP" difficulty="1">
			<option value="0">JEV_NO</option>
			<option value="1">JEV_YES</option>
			<option value="2">JEV_USE_JOOMLA_ACL</option>
		</field>
		<field name="jevunpublishonedit" type="radio" class="gsl-button-group" default="1" menu="hide"
		       label="JEV_CONFIG_UNPUBLISH_ON_EDIT_LABEL" description="JEV_CONFIG_UNPUBLISH_ON_EDIT_TIP" difficulty="3">
			<option value="0">JEV_NO</option>
			<option value="1">JEV_YES</option>
		</field>

		<field name="category_allow_deny" type="jevlist" default="1" menu="hide" label='CATEGORY_PERMISSION_MODEL'
		       description='CATEGORY_PERMISSION_MODEL_DESC' difficulty="3">
			<option value="1">JEV_ALLOW_OVERALL_BLOCK_BY_CATEGORY</option>
			<option value="0">JEV_INHERIT_OVERALL_ALLOW_BY_CATEGORY</option>
		</field>
	</fieldset>


	<fieldset name="JEV_EVENT_EDITING" difficulty="1">
		<field name="newfrontendediting" type="jevboolean" class="gsl-button-group" default="1" menu="hide"
			   label="JEV_USE_NEW_FRONTEND_EDITING_FORMATTING" description="JEV_USE_NEW_FRONTEND_EDITING_FORMATTING_DESC" difficulty="1"/>

		<field name="enableshowon" type="jevboolean" class="gsl-button-group" default="0" menu="hide"
		   label="COM_JEVENT_ENABLE_SHOWON_EDITING" description="COM_JEVENT_ENABLE_SHOWON_EDITING_DESC" difficulty="1"/>

		<field name="titleplaceholder" type="jevtext" size="60" default='JEV_EVENT_TITLE_PLACEHOLDER' menu="hide" label="COM_JEVENTS_TITLE_PLACEHOLDER"
			   description="COM_JEVENTS_TITLE_PLACEHOLDER_DESC" difficulty="1"
			   showon="enableshowon:1"
		/>

		<field name="com_calUseStdTime" type="jevboolean" class="gsl-button-group" default="1" menu="hide"
		       label="JEV_TIME_FORMAT_12" description="JEV_TIME_FORMAT_12_DESC" difficulty="1"/>
		<!--//<field name="com_jeveditionrequiredfields" type="Jeveditionrequiredfields" default="" size="6" label="JEV_REQUIRED_FIELDS_SELECT" multiple="multiple" description="JEV_REQUIRED_FIELDS_SELECT_DESC" difficulty="3"/>//-->
		<field name="com_jeveditionrequiredfields" type="Jeveditionrequiredfields" default="" size="6"
		       label="JEV_REQUIRED_FIELDS_SELECT" multiple="multiple" description="JEV_REQUIRED_FIELDS_SELECT_DESC"
		       difficulty="3"/>
		<field name="com_editdateformat"
		       type="jevlist"
		       default="Y-m-d"
		       label="JEV_EVENT_EDIT_DATEFORMAT"
		       description="JEV_EVENT_EDIT_DATEFORMAT_DESC" difficulty="1"
		>
			<option value="Y-m-d">JEV_EVENT_EDIT_DATEFORMAT_YMD_VALUE</option>
			<option value="m/d/Y">JEV_EVENT_EDIT_DATEFORMAT_MDY_VALUE</option>
			<option value="d/m/Y">JEV_EVENT_EDIT_DATEFORMAT_DMY_VALUE</option>
			<option value="d.m.Y">JEV_EVENT_EDIT_DATEFORMAT_EUROPEAN_VALUE</option>
		</field>
		<field name="dayselect" type="jevboolean" class="gsl-button-group" default="0" menu="hide"
		       label='JEV_ALLOW_DAY_SELECT_FOR_REPEATS' description='JEV_ALLOW_DAY_SELECT_FOR_REPEATS_DESC'
		       difficulty="3"/>
		<field name="disablerepeats" type="jevboolean" class="gsl-button-group" default="0" menu="hide"
		       label="JEV_DISABLE_REPEATING_EVENTS" description="JEV_DISABLE_REPEATING_EVENTS_DESC" difficulty="1"/>
		<field name="defaultcat" type="jevboolean" class="gsl-button-group" default="0" menu="hide" label="JEV_USE_DEFAULT_CAT"
		       description="JEV_USE_DEFAULT_CAT_TIP" difficulty="2"/>
		<field name="defaultcal" type="jevboolean" class="gsl-button-group" default="0" menu="hide" label="JEV_USE_DEFAULT_CAL"
		       description="JEV_USE_DEFAULT_CAL_TIP" difficulty="2"/>
		<field name="default_noendtime" type="jevboolean" class="gsl-button-group" default="0" menu="hide"
		       label="JEV_USE_DEFAULT_END_TIME" description="JEV_USE_DEFAULT_END_TIME_DESC" difficulty="2"/>
		<field name="default_alldayevent" type="jevboolean" class="gsl-button-group" default="0" menu="hide"
		       label="JEV_USE_DEFAULT_ALL_DAY_EVENT" description="JEV_USE_DEFAULT_ALL_DAY_EVENT_DESC" difficulty="2"/>
		<field name="forcepopupcalendar" type="jevboolean" class="gsl-button-group" default="1" menu="hide"
		       label="JEV_FORCE_POPUP_CAL" description="JEV_FORCE_POPUP_CAL_TIP" difficulty="2"/>
		<field name="com_calForceCatColorEventForm" type="jevlist" default="2" menu="hide" label="JEV_DEF_EC_HIDE_FORCE"
		       description="JEV_TIP_DEF_EC_HIDE_FORCE" difficulty="2">
			<option value="0">JEV_EVENT_COLS_ALLOWED</option>
			<option value="1">JEV_EVENT_COLS_BACKED</option>
			<option value="2">JEV_ALWAYS_CAT_COLOR</option>
		</field>
		<!--
		<field name="com_defColor" type="jevlist" default='CATEGORY'  menu="hide" label="JEV_DEF_EVENT_COLOR" description="">
			<option value="none">JEV_DEF_EC_NONE</option>
			<option value="category">JEV_DEF_EC_CATEGORY</option>
		</field>
		//-->

		<field name="editpopup" type="jevboolean" class="gsl-button-group" default="0" menu="hide"
		       label='FRONTEND_EDIT_IN_POPUP' description='FRONTEND_EDIT_IN_POPUP_DESC' difficulty="2"/>
		<field name="popupw" type="jevtext" default="800" size="6" menu="hide" label='POPUP_WINDOW_WIDTH'
		       description='POPUP_WINDOW_WIDTH_DESC' difficulty="2" showon="editpopup:1"/>
		<field name="popuph" type="jevtext" default="500" size="6" menu="hide" label='POPUP_WINDOW_HEIGHT'
		       description='POPUP_WINDOW_HEIGHT_DESC' difficulty="2" showon="editpopup:1"/>
		<field name="com_single_pane_edit" type="jevboolean" class="gsl-button-group" default="0" menu="hide"
		       label="JEV_ONE_TAB_EVENT" description="JEV_ONE_TAB_EVENT_TIP" difficulty="2"/>

		<field name="timebeforedescription" type="jevboolean" class="gsl-button-group" default="0" menu="hide"
		       label="SHOW_TIME_DETAILS_BEFORE_DESRIPTION" description="SHOW_TIME_DETAILS_BEFORE_DESRIPTION_DESC"
		       difficulty="1"/>
		<field name="disablemultiday" type="jevboolean" class="gsl-button-group" default="0" menu="hide"
		       label="JEV_DISABLE_MULTIDAY" description="JEV_DISABLE_MULTIDAY_DESC" difficulty="1"/>
		<field name="multiday" type="jevboolean" class="gsl-button-group" default="1" menu="hide" label="JEV_DEFAULT_MULTIDAY"
		       description="JEV_DEFAULT_MULTIDAY_DESC" difficulty="1" showon="disablemultiday:0"/>
		<field name="ignorelayout" type="jevboolean" class="gsl-button-group" default="0" menu="hide"
		       label="JEV_IGNORE_EDIT_LAYOUT_IN_BACKEND" description="JEV_IGNORE_EDIT_LAYOUT_IN_BACKEND_TIP"
		       difficulty="2"/>
		<field name="com_show_editor_buttons" type="jevboolean" class="gsl-button-group" default="0" menu="hide"
		       label="JEV_SHOW_EDITOR_BUTTONS" description="JEV_SHOW_EDITOR_BUTTONS_TIP" difficulty="2"/>
		<field name="com_editor_button_exceptions" type="jevtext" default="pagebreak,readmore" menu="hide" size="26"
		       label="JEV_EDITOR_BUTTON_EXCEPTIONS" description="JEV_EDITOR_BUTTON_EXCEPTIONS_TIP" difficulty="2"/>
		<field name="com_notifyboth" type="jevlist" default="0" menu="hide" label="JEV_NOTIFY"
		       description="JEV_NOTIFY_TIP" difficulty="2">
			<option value="0">JEV_CATEGORY_ADMIN_ONLY</option>
			<option value="1">JEV_BOTH_JEVENTS_ADMIN_AND_CATEGORY_ADMIN</option>
			<option value="2">JEV_ADMIN_ONLY</option>
			<option value="3">JEV_NO_NOTIFICATIONS</option>
		</field>
		<field name="com_notifyallevents" type="jevboolean" class="gsl-button-group" default="0" menu="hide"
		       label="JEV_NOTIFYALL" description="JEV_NOTIFYALL_TIP" difficulty="2"/>
		<field name="com_notifyauthor" type="jevboolean" class="gsl-button-group" default="0" menu="hide"
		       label="JEV_NOTIFY_AUTHOR" description="JEV_NOTIFY_AUTHOR_TIP" difficulty="2"/>
		<field name="showpriority" type="jevboolean" class="gsl-button-group" default="0" menu="hide" label="JEV_SHOWPRIORITY"
		       description="JEV_SHOWPRIORITY_TIP" difficulty="2"/>
		<field name="showPriorityACL" type="jevlist" default="0" menu="hide" label="JEV_ACL_OF_WHO_CAN_SET_PRIORITY"
		       description="JEV_ACL_OF_WHO_CAN_SET_PRIORITY_TIP" difficulty="1" showon="showpriority:1">
			<option value="0">JEV_ACL_OF_WHO_CAN_SET_PRIORITY_0</option>
			<option value="1">JEV_ACL_OF_WHO_CAN_SET_PRIORITY_1</option>
			<option value="2">JEV_ACL_OF_WHO_CAN_SET_PRIORITY_2</option>
		</field>
		<field name="showtimezone" type="jevboolean" class="gsl-button-group" default="0" menu="hide" label="JEV_SHOW_TIMEZONE"
		       description="JEV_SHOW_TIMEZONE_DESC" difficulty="2"/>
		<field name="offeredtimezones" type="jevtimezone" multiple="true" class="chosen" default="-1" size="5"
		       style="width:250px;"
		       menu="hide" label="JEV_AVAILABLE_TIMEZONES" description="JEV_AVAILABLE_TIMEZONES_DESC"
		       showon="showtimezone:1" difficulty="2"/>

		<field name="checkconflicts" type="jevlist" default="0" menu="hide" label="JEV_CHECK_CLASHES"
		       description="JEV_CHECK_CLASHES_TIP" difficulty="1">
			<option value="0">JEV_CHECK_CLASHES_OPTION_NOT</option>
			<option value="1">JEV_CHECK_CLASHES_OPTION_SPECIFIC</option>
			<option value="2">JEV_CHECK_CLASHES_OPTION_ANY</option>
		</field>


		<field name="skipreferrer" type="jevboolean" class="gsl-button-group" default="0" menu="hide"
		       label="JEV_SKIP_REFERRER_CHECK" description="JEV_SKIP_REFERRER_CHECK_DESC" difficulty="2"/>

		<field name="defaultstarttime" type="jevtext" default="08:00" menu="hide" size="5" label="JEV_DEFAULT_STARTTIME"
		       description="JEV_DEFAULT_STARTTIME_TIP" difficulty="1"/>
		<field name="defaultendtime" type="jevtext" default="17:00" menu="hide" size="5" label="JEV_DEFAULT_ENDTIME"
		       description="JEV_DEFAULT_ENDTIME_TIP" difficulty="1"/>


		<field name="multicategory" type="jevboolean" class="gsl-button-group" default="0" menu="hide"
		       label='JEV_MULTICATEGORY_EVENTS' description='JEV_MULTICATEGORY_EVENTS_DESC' difficulty="2"/>
		<field name="blocktoplevelcategories" type="jevboolean" class="gsl-button-group" default="0" menu="hide"
		       label='JEV_BLOCK_TOP_LEVEL_CATEGORIES' description='JEV_BLOCK_TOP_LEVEL_CATEGORIES_DESC' difficulty="2"/>
		<field name="bootstrapchosen" type="jevboolean" class="gsl-button-group" default="1" label="JEV_LOAD_BOOTSTRAP_CHOSEN"
		       description="JEV_LOAD_BOOTSTRAP_CHOSEN_DESC" difficulty="2" minjoomlaversion="2.5.0"/>

		<field name="allowraw" type="jevboolean" class="gsl-button-group" default="0" menu="hide"
		       label="JEV_ALLOW_RAW_DESCRIPTIONS" description="JEV_ALLOW_RAW_DESCRIPTIONS_DESC" difficulty="2"/>

		<field name="com_edit_toolbar" type="jevlist" default="0" menu="hide" label="JEV_EDIT_TOOLBAR_POSITION"
		       description="JEV_EDIT_TOOLBAR_POSITION_DESC" difficulty="2">
			<option value="0">JEV_EDIT_TOOLBAR_POSITION_TOP</option>
			<!--<option value="1">JEV_EDIT_TOOLBAR_POSITION_BOTTOM</option>-->
			<option value="2">JEV_EDIT_TOOLBAR_POSITION_TOP_AND_BOTTOM</option>
		</field>

		<field name="notifymessage" type="jevhtml" default="JEV_DEFAULT_NOTIFYMESSAGE" menu="hide"
		       label="JEV_NOTIFICATION_MESSAGE" description="JEV_NOTIFICATION_MESSAGE_DESC" filter="safehtml"
		       difficulty="2"/>
		<field name="editreturnto" type="jevlist" default="day.listevents" size="1" label="JEV_EVED_REDIRECT"
		       description="JEV_EVED_REDIRECT_DESC" difficulty="1:1,2">
			<option value="month.calendar">JEVENTS_MONTH_VIEW_DEFAULT_TITLE</option>
			<option value="week.listevents">JEVENTS_LIST_WEEK_DEFAULT_TITLE</option>
			<option value="day.listevents">JEVENTS_LIST_DAY_DEFAULT_TITLE</option>
			<option value="cat.listevents">JEVENTS_LIST_CATEGORY_DEFAULT_TITLE</option>
			<option value="admin.listevents">JEV_INSTAL_MANAGE</option>
		</field>
		<field name="sender_config" type="jevlist" default="0" label="JEV_SENDER_CONFIG"
		       description="JEV_SENDER_CONFIG_DESC" difficulty="1">
			<option value="0">JEV_SENDER_CREATOR_DETAILS</option>
			<option value="1">JEV_SENDER_USE_GLOBAL_JOOMLA_SENDER</option>
			<option value="2">JEV_SENDER_USE_BELOW_SENDER_DETAILS</option>
		</field>
		<field name="sender_name" type="jevtext" filter="" label="JEV_SENDER_NAME" description="JEV_SENDER_NAME_DESC"
		       difficulty="1"/>
		<field name="sender_email" type="jevtext" filter="" label="JEV_SENDER_EMAIL" description="JEV_SENDER_EMAIL_DESC"
		       difficulty="1"/>
		<field name="email_replyto" type="radio" class="gsl-button-group" default="1" label="JEV_SENDER_REPLY_TO"
		       description="JEV_SENDER_REPLY_TO_DESC" difficulty="1">
			<option value="0">JEV_NO</option>
			<option value="1">JEV_YES</option>
		</field>
	</fieldset>


	<fieldset name="JEV_EVENT_DETAIL_VIEW" difficulty="1">
		<field name="spacer_evd1" type="jevinfo" default='SETTINGS_RELATED_TO_DETAIL_VIEW' menu="hide" label=""
		       description="" difficulty="1"/>
		<field name="com_mailview" type="jevboolean" class="gsl-button-group" default="1" menu="hide" label="JEV_VIEW_MAIL"
		       description="" difficulty="1"/>
		<field name="com_hitsview" type="jevboolean" class="gsl-button-group" default="1" menu="hide" label="JEV_VIEW_HITS"
		       description="" difficulty="1"/>
		<field name="autoprint" type="jevboolean" class="gsl-button-group" default="0" menu="hide"
			   label="JEV_AUTOPRINT" description="JEV_AUTOPRINT_TIP" difficulty="3"/>
		<field name="com_repeatview" type="jevboolean" class="gsl-button-group" default="1" menu="hide"
		       label="JEV_VIEW_REPEAT_TIME" description="JEV_VIEW_REPEAT_TIME_DESC" difficulty="1"/>
		<field name="contact_display_name" type="jevlist" default="0" menu="hide" label="JEV_CONTACT_DISPLAY_NAME"
		       description="JEV_CONTACT_DISPLAY_NAME_DESC" difficulty="1">
			<option value="0">JEV_USER_NAME</option>
			<option value="1">JEV_NAME</option>
		</field>
		<field name="spacer_cv1" type="jevinfo" default='SETTINGS_RELATED_TO_DAY_VIEW'   menu="hide" label="" description="" difficulty="2"/>
		<field name="redirect_detail" type="jevboolean" class="gsl-button-group" default="0" menu="hide" label="JEV_DAY_REDIRECT_TO_EVENT" description="JEV_DAY_REDIRECT_TO_EVENT_DESC" difficulty="2"/>
		<field name="shownavbar_detail" type="jevboolean" class="gsl-button-group" default="1" menu="hide" label="JEV_DETAIL_SHOW_NAV_BAR" description="JEV_DETAIL_SHOW_NAV_BAR_DESC" difficulty="2"/>
        <field name="permatarget" type="jevmenu" default="" label="JEV_PERMALINK_MENU_ITEM"
               strict="1"
               description="JEV_PERMALINK_MENU_ITEM_TIP" />
        </fieldset>

	<fieldset name="JEV_MAIN_MONTHLY_CALENDAR" difficulty="1">
		<field name="spacer_mv1" type="jevinfo" default='SETTINGS_RELATED_TO_MONTHLY_VIEW' menu="hide" label=""
		       description="" difficulty="1"/>
		<field name="com_calCutTitle" type="jevtext" default="15" menu="hide" size="4" label="JEV_CUT_TITLE"
		       description="JEV_TIP_CUT_TITLE" difficulty="1"/>
		<field name="com_calMaxDisplay" type="jevtext" default="15" menu="hide" size="4" label="JEV_MAX_DISPLAY"
		       description="JEV_TIP_MAX_DISPLAY" difficulty="1"/>
		<field name="com_calDisplayStarttime" type="jevboolean" class="gsl-button-group" default="1" menu="hide"
		       label="JEV_DIS_STARTTIME" description="JEV_TIP_DIS_STARTTIME" difficulty="1"/>
		<field name="com_calShowLegend" type="jevboolean" class="gsl-button-group" default="1" menu="hide"
		       label="JEV_MONTH_SHOW_LEGEND" description="JEV_MONTH_SHOW_LEGEND_DESC" difficulty="1"/>

		<field name="spacer_mv2" type="jevinfo" default="JEV_TOOLTIP" menu="hide" label="" description=""
		       difficulty="1"/>

		<field name="com_enableToolTip" type="jevboolean" class="gsl-button-group" default="1" menu="hide"
		       label="JEV_ENABLETOOLTIP" description="JEV_ENABLETOOLTIP_TIP" difficulty="1"/>
		<!--
		<field name="com_enableToolTip" type="radio" class="gsl-button-group" default="1" menu="hide" label="JEV_ENABLETOOLTIP" description="JEV_ENABLETOOLTIP_TIP" difficulty="1">
			<option value="0">JEV_NONE</option>
			<option value="1">JEV_NONTOUCH</option>
			<option value="2">JEV_ALLDEVICES</option>
		</field>
		//-->

		<field name="tooltiptype" type="jevmultilist" default='bootstrap' menu="hide" label="JEV_TOOLTIPTYPE"
		       description="JEV_TOOLTIPTYPE_TIP" difficulty="2" showon="com_enableToolTip:1[AND]framework:native">
			<option value="bootstrap">JEV_BOOTSTRAP</option>
			<option value="uikit">JEV_UIKIT</option>
		</field>

		<field name="com_calTTBackground" type="jevboolean" class="gsl-button-group jevp_tooltip" default="1" menu="hide"
		       label="JEV_TT_BGROUND" description="JEV_TIP_TT_BGROUND" difficulty="2"/>
	</fieldset>

	<fieldset name="JEV_YEAR_CATEGORY_VIEW" difficulty="1">
		<field name="spacer_cv1" type="jevinfo" default='SETTINGS_RELATED_TO_YEARLY_AND_CATEGORY_VIEW' menu="hide"
		       label="" description="" difficulty="1"/>
		<field name="com_calEventListRowsPpg" type="jevlist" default="10" menu="hide" label="JEV_NR_OF_LIST"
		       description="JEV_TIP_NR_OF_LIST" difficulty="1">
			<option value="5">5</option>
			<option value="10">10</option>
			<option value="15">15</option>
			<option value="20">20</option>
			<option value="25">25</option>
			<option value="30">30</option>
			<option value="50">50</option>
			<option value="100">100</option>
			<option value="0">ALL</option>
		</field>
		<field name="showyearpast" type="jevlist" default="1" menu="hide" label="JEV_SHOW_YEARPAST"
		       description="JEV_SHOW_YEARPAST_TIP" difficulty="1">
			<option value="0">JEV_NO</option>
			<option value="1">JEV_YES</option>
		</field>

		<field name="spacer_cv2" type="jevinfo" default='SETTINGS_RELATED_TO_YEARLY_VIEW' menu="hide" label=""
		       description="" difficulty="1"/>
		<field name="com_showrepeats" type="list" default="-1" menu="hide" label="JEV_VIEW_REPEAT_YEAR_LIST"
		       description="" difficulty="2">
			<option value="0">JEV_NO</option>
			<option value="1">JEV_YES</option>
		</field>
		<field name="showyeardate" type="jevboolean" class="gsl-button-group" default="1" menu="hide"
		       label="JEV_VIEW_SHOW_YEAR_DATE" description="JEV_VIEW_SHOW_YEAR_DATE_TIP" difficulty="1"/>
		<field name="year_show_noev_found" type="jevboolean" class="gsl-button-group" default="0" menu="hide"
		       label="JEV_VIEW_SHOW_NO_EVENTS_FOUND" description="JEV_VIEW_SHOW_NO_EVENTS_FOUND_DESC" difficulty="1"/>

	</fieldset>
	<fieldset name="JEV_ICAL_CALENDAR" difficulty="2">
		<field name="spacer_tzi" type="jevinfo" default="JEV_TIMEZONE_INFO" menu="hide" label="" description=""
		       difficulty="3"/>
		<!-- TIMEZONE DATA //-->
		<!-- see http://www.php.net/manual/en/datetimezone.listidentifiers.php //-->
		<field name="icaltimezone" type="jevtimezone" default="" menu="hide" label="JEV_TIMEZONE"
		       description="JEV_TIMEZONE_DESC" difficulty="3"/>
		<!--
		<field name="icaltimezone" type="jevtext" default="" menu="hide" size="50" label="JEV_TIMEZONE" description="JEV_TIMEZONE DESC"/>
		//-->
		<field name="icalkey" type="jevtext" default='SECRET_PHRASE' menu="hide" size="50" label="JEV_ICAL_KEY"
		       description="JEV_ICAL_KEY_DESC" difficulty="3"/>
		<field name="showicalicon" type="jevboolean" class="gsl-button-group" default="0" menu="hide"
		       label="JEV_SHOW_ICAL_ICON" description="JEV_SHOW_ICAL_ICON_DESC" difficulty="2"/>
		<field name="disableicalexport" type="jevboolean" class="gsl-button-group" default="0" menu="hide"
		       label="JEV_DISABLE_ICAL_EXPORT" description="JEV_DISABLE_ICAL_EXPORT_DESC" difficulty="2"/>
		<field name="icalmultiday" type="jevboolean" class="gsl-button-group" default="0" menu="hide" label="JEV_ICAL_MULTIDAY"
		       description="JEV_ICAL_MULTIDAY_TIP" difficulty="2"/>
		<field name="icalmultiday24h" type="jevboolean" class="gsl-button-group" default="0" menu="hide" label="JEV_MULTIDAY24"
		       description="JEV_MULTIDAY24_TIP" difficulty="2"/>
		<field name="feimport" type="jevboolean" class="gsl-button-group" default="0" menu="hide" label="JEV_FRONTENDIMPORT"
		       description="JEV_FRONTENDIMPORT_TIP" difficulty="3"/>
		<field name="allowedit" type="jevboolean" class="gsl-button-group" default="0" menu="hide" label="JEV_ALLOW_ICAL_EDIT"
		       description="JEV_ALLOW_ICAL_EDIT_DESC" difficulty="3"/>
		<field name="icalformatted" type="jevboolean" class="gsl-button-group" default="0" menu="hide"
		       label="JEV_ICAL_DESCRIPTIONS_FORMATTED" description="JEV_ICAL_DESCRIPTIONS_FORMATTED_DESC"
		       difficulty="3"/>
		<field name="source_url" type="jevboolean" class="gsl-button-group" default="0" menu="hide"
		       label="JEV_ICAL_EXPORT_SOURCE_URL" description="JEV_ICAL_EXPORT_SOURCE_URL_DESC" difficulty="2"/>
		<field name="default_itemid" type="jevmenu" default="" label='JEV_TARGET_MENU' description='JEV_TARGET_MENU_TIP'
		       difficulty="2"/>

		<field name="converturlstolinksonimport"
			   type="jevboolean"
			   class="gsl-button-group"
			   default="1"
			   menu="hide"
			   label="JEV_CONVERT_URLS_TO_LINKS_ON_IMPORT"
			   description="JEV_CONVERT_URLS_TO_LINKS_ON_IMPORT_DESC"
			   difficulty="3"/>

</fieldset>

	<fieldset name="JEV_TAB_RSS" difficulty="2">
		<field name="spacer_rss1" type="jevinfo" default="JEV_SETT_FOR_RSS" menu="hide" label="" description=""
		       difficulty="2"/>
		<field name="com_rss_cache" type="jevboolean" class="gsl-button-group" default="1" menu="hide" label="JEV_RSS_CACHE"
		       description="" difficulty="2"/>
		<field name="com_rss_cache_time" type="jevtext" default="3600" menu="hide" size="6" label="JEV_RSS_CTIME"
		       description="" difficulty="2"/>
		<field name="com_rss_count" type="jevtext" default="5" menu="hide" size="6" label="JEV_RSS_LIMIT" description=""
		       difficulty="2"/>
		<field name="com_rss_live_bookmarks" type="jevboolean" class="gsl-button-group" default="1" menu="hide"
		       label="JEV_RSS_LIVE_BOOKMARKS" description="JEV_RSS_LIVE_BOOKMARKS_TIP" difficulty="2"/>

		<field name="com_rss_modid" type="rssmod" default="0" menu="hide" label="JEV_RSS_MODID"
		       description="JEV_RSS_MODID_TIP" difficulty="2"/>
		<field name="com_rss_title" type="jevtext" default='JEvents RSS Feed for Joomla' menu="hide" size="50"
		       label="JEV_RSS_TITLE" description="" difficulty="2"/>
		<field name="com_rss_description" type="textarea" default="Powered by JEvents!" menu="hide" rows="5" cols="40"
		       label="JEV_RSS_DESCRIPTION" description="" difficulty="2"/>
		<field name="com_rss_limit_text" type="jevboolean" class="gsl-button-group" default="0" menu="hide"
		       label="JEV_RSS_LIMIT_TEXT_LENGTH" description="" difficulty="2"/>
		<field name="com_rss_text_length" type="jevtext" default="20" menu="hide" size="3" label="JEV_RSS_TEXT_LIMIT"
		       description="" difficulty="2"/>
		<field name="com_rss_logo" type="jevtext" default="" menu="hide" size="60" label="JEV_RSS_LOGO" description=""
		       difficulty="2"/>
	</fieldset>

	<fieldset name="ROBOT_SEF_OPTIONS" difficulty="3">
		<field name="com_cache" type="jevlist" default="0" menu="hide" label="JEV_USE_CACHE_FOR_EVENTS"
		       description="JEV_CACHE_EXPLANATION">
			<option value="0">JEV_NO</option>
			<option value="1">JEV_YES_ONLY_FOR_NOT_LOGGED_IN_VISITORS</option>
			<option value="2">JEV_YES_BY_USER_ACCESS_LEVEL</option>
		</field>
		<field name="newsef" type="jevboolean" class="gsl-button-group" default="1" menu="hide"
		       label="JEV_USE_NEW_SEF_URL_SYSTEM" description="JEV_USE_NEW_SEF_URL_SYSTEM_DESC"/>
		<field name="nocatindetaillink" type="jevboolean" class="gsl-button-group" default="0" menu="hide"
		       label="JEV_SUPPRESS_CATEGORY_IN_DETAIL_LINKS" description="JEV_SUPPRESS_CATEGORY_IN_DETAIL_LINKS_DESC"
		       showon="newsef:1"/>
		<field name="noeventdetailinurl" type="jevboolean" class="gsl-button-group" default="0" menu="hide"
		       label="JEV_SUPPRESS_EVENTDETAIL_IN_SEF_LINKS" description="JEV_SUPPRESS_EVENTDETAIL_IN_SEF_LINKS_DESC"
		       showon="newsef:1"/>
		<field name="com_blockRobots" type="jevlist" default="0" menu="hide" label="JEV_STOP_ROBOTS"
		       description="JEV_STOP_ROBOTS_TIP">
			<option value="0">JEV_NO</option>
			<option value="1">JEV_YES</option>
			<option value="2">JEV_CONDITIONAL</option>
			<option value="3">JEV_ALLOW_DETAIL_INDEXING</option>
		</field>
		<field name="robotprior" type="jevlist" default="-1 month" menu="hide" label="JEV_ROBOTS_PRIOR"
		       description="JEV_ROBOTS_PRIOR_TIP" showon="com_blockRobots:2">
			<option value="-1 day">JEV_1_DAY</option>
			<option value="-1 month">JEV_1_MONTH</option>
			<option value="-3 months">JEV_3_MONTHS</option>
			<option value="-1 year">JEV_1_YEAR</option>
		</field>
		<field name="robotpost" type="jevlist" default="+1 month" menu="hide" label="JEV_ROBOTS_POST"
		       description="JEV_ROBOTS_POST_TIP" showon="com_blockRobots:2">
			<option value="+1 day">JEV_1_DAY</option>
			<option value="+1 month">JEV_1_MONTH</option>
			<option value="+3 months">JEV_3_MONTHS</option>
			<option value="+1 year">JEV_1_YEAR</option>
			<option value="+3 years">JEV_3_YEARS</option>
		</field>
		<field name="redirectrobots" type="jevboolean" class="gsl-button-group" default="0" menu="hide"
		       label="JEV_REDIRECT_ROBOTS_TO_MENU_ITEM" description="JEV_REDIRECT_ROBOTS_TO_MENU_ITEM_DESC"/>
		<field name="robotmenuitem" type="jevmenu" default="" label="JEV_CRAWLERMENU_FOR_ROBOTS"
		       description="JEV_CRAWLERMENU_FOR_ROBOTS_DESC"/>
		<field name="blockall" type="jevboolean" class="gsl-button-group" default="0" menu="hide"
		       label="JEV_BLOCK_ALL_IN_LISTS" description="JEV_BLOCK_ALL_IN_LISTS_DESC"/>
		<field name="largeDataSetLimit" type="jevtext" default="100000" menu="hide" label="JEV_LARGE_DATASET"
		       description="JEV_LARGE_DATASET_TIP" difficulty="3"/>
		<field name="subquery" type="jevboolean" class="gsl-button-group" default="0" menu="hide"
		       label="JEV_USE_SUBQUERIES_NOT_JOINS" description="JEV_USE_SUBQUERIES_NOT_JOINS_DESC" difficulty="3"/>

	</fieldset>
	<fieldset name="JEV_MODULE_CONFIG" difficulty="3">
		<field name="spacer_cm2" type="jevinfo" default="JEV_MODULE_CONFIG_FROM_COMPONENT_WARNING" menu="hide" label=""
		       description="" difficulty="3"/>
		<field name="module_config_from_component" type="jevlist" default="0" menu="hide"
		       label="JEV_MODULE_CONFIG_FROM_COMPONENT" description="JEV_MODULE_CONFIG_FROM_COMPONENT_DESC"
		       difficulty="3">
			<option value="0">JEV_NO</option>
			<option value="1">JEV_YES</option>
		</field>

		<field name="spacer_cm0" type="jevinfo" default="JEV_TAB_CAL_MOD" menu="hide" label="" description=""
		       difficulty="3" showon="module_config_from_component:1"/>
		<field name="spacer_cm1" type="jevinfo" default="JEV_SETT_FOR_CAL_MOD" menu="hide" label="" description=""
		       difficulty="3" showon="module_config_from_component:1"/>

		<field name="modcal_DispLastMonth" type="jevlist" default='NO' menu="hide" label="JEV_DISPLAY_LAST_MONTH"
		       description="" difficulty="3" showon="module_config_from_component:1">
			<option value="NO">JEV_NO</option>
			<option value="YES_stop">JEV_DLM_YES_STOP_DAY</option>
			<option value="YES_stop_events">JEV_DLM_YES_EVENT_SDAY</option>
			<option value="ALWAYS">JEV_ALWAYS</option>
			<option value="ALWAYS_events">JEV_DLM_ALWAYS_IF_EVENTS</option>
		</field>
		<field name="modcal_DispLastMonthDays" type="jevtext" default="0" menu="hide" size="3" label="JEV_DLM_STOP_DAY"
		       description="JEV_TIP_DLM_STOP_DAY" difficulty="3" showon="module_config_from_component:1"
		       conditions="1"/>

		<field name="modcal_DispNextMonth" type="jevlist" default='NO' menu="hide" label="JEV_DISPLAY_NEXT_MONTH"
		       description="" difficulty="3" showon="module_config_from_component:1">
			<option value="NO">JEV_NO</option>
			<option value="YES_stop">JEV_DLM_YES_STOP_DAY</option>
			<option value="YES_stop_events">JEV_DLM_YES_EVENT_SDAY</option>
			<option value="ALWAYS">JEV_ALWAYS</option>
			<option value="ALWAYS_events">JEV_DLM_ALWAYS_IF_EVENTS</option>
		</field>
		<field name="modcal_DispNextMonthDays" type="jevtext" default="0" menu="hide" size="3" label="JEV_DNM_START_DAY"
		       description="JEV_TIP_DNM_START_DAY" difficulty="3" showon="module_config_from_component:1"
		       conditions="1"/>
		<field name="modcal_LinkCloaking" type="jevboolean" class="gsl-button-group" default="0" menu="hide"
		       label="JEV_HIDE_LINKS" description="JEV_HIDE_LINKS_TIP" difficulty="3"
		       showon="module_config_from_component:1"/>

		<field name="spacer_le0" type="jevinfo" default="JEV_TAB_LATEST_MOD" menu="hide" label="" description=""
		       difficulty="3" showon="module_config_from_component:1"/>
		<field name="spacer_le1" type="jevinfo" default="JEV_SETT_FOR_MOD_LATEST" menu="hide" label="" description=""
		       difficulty="3" showon="module_config_from_component:1"/>

		<field name="modlatest_MaxEvents" type="jevtext" default="10" menu="hide" size="3" label="JEV_LEV_MAX_DISPLAY"
		       description="JEV_LEV_MAX_DISPLAY_TIP" difficulty="3" showon="module_config_from_component:1"
		       conditions="1"/>

		<field name="modlatest_Mode" type="jevlist" default="0" menu="hide" label="JEV_LEV_DISPLAY_MODE"
		       description="JEV_LEV_DISPLAY_MODE_TIP" difficulty="3" showon="module_config_from_component:1"
		       conditions="1">
			<option value="0">0</option>
			<option value="1">1</option>
			<option value="2">2</option>
			<option value="3">3</option>
			<option value="4">4</option>
			<option value="5">5</option>
		</field>
		<field name="modlatest_Days" type="jevtext" default="5" menu="hide" size="3" label="JEV_LEV_DAY_RANGE"
		       description="JEV_LEV_DAY_RANGE_TIP" difficulty="1" showon="module_config_from_component:1"
		       conditions="1"/>
		<field name="startnow" type="jevboolean" class="gsl-button-group" default="1" label="START_NOW"
		       description="START_NOW_DESC" difficulty="1" showon="module_config_from_component:1"/>
		<field name="modlatest_NoRepeat" type="list" default="0" label="JEV_LEV_REP_EV_DISPLAY_OPTIONS"
		       description="JEV_LEV_REP_EV_DISPLAY_OPTIONS_TIP" showon="modlatest_useLocalParam:1">
			<option value="0">JEV_SHOW_ALL_REPEATS</option>
			<option value="1">JEV_SHOW_ONE_REPEAT</option>
			<!--<option value="2">JEV_SHOW_FIRST_REPEAT_ONLY</option>//-->
			<option value="3">JEV_SHOW_NO_REPEATS</option>
		</field>
		<field name="modlatest_DispYear" type="jevboolean" class="gsl-button-group" default="0" menu="hide"
		       label="JEV_LEV_DISPLAY_YEAR" description="JEV_LEV_DISPLAY_YEAR_TIP" difficulty="1"
		       showon="module_config_from_component:1"/>

		<field name="modlatest_multiday" type="jevlist" default="0" label="JEV_LATEST_MULTIEVENT_DISPLAY"
		       description="JEV_LATEST_MULTIEVENT_DISPLAY_DESC" difficulty="3"
		       showon="module_config_from_component:1">
			<option value="0">JEV_LATEST_MULTIEVENT_DISPLAY_OPTION_0</option>
			<option value="1">JEV_LATEST_MULTIEVENT_DISPLAY_OPTION_1</option>
			<option value="2">JEV_LATEST_MULTIEVENT_DISPLAY_OPTION_2</option>
			<option value="3">JEV_LATEST_MULTIEVENT_DISPLAY_OPTION_3</option>
		</field>
		<field name="modlatest_DispLinks" type="jevboolean" class="gsl-button-group" default="1" menu="hide"
		       label="JEV_LEV_EV_AS_LINK" description="JEV_LEV_EV_AS_LINK_TIP" difficulty="3"
		       showon="module_config_from_component:1"/>
		<field name="modlatest_DisDateStyle" type="jevboolean" class="gsl-button-group" default="0" menu="hide"
		       label="JEV_LEV_CSS_DATE_FIELD" description="JEV_LEV_CSS_DATE_FIELD_TIP" difficulty="3"
		       showon="module_config_from_component:1"/>
		<field name="modlatest_DisTitleStyle" type="jevboolean" class="gsl-button-group" default="0" menu="hide"
		       label="JEV_LEV_CSS_TITLE_FIELD" description="JEV_LEV_CSS_TITLE_FIELD_TIP" difficulty="3"
		       showon="module_config_from_component:1"/>
		<field name="modlatest_LinkToCal" type="jevlist" default="0" menu="hide" label="JEV_LEV_LINKCAL_FIELD"
		       description="JEV_LEV_LINKCAL_FIELD_TIP" difficulty="3" showon="module_config_from_component:1"
		       conditions="1">
			<option value="0">JEV_LEV_NOLINK</option>
			<option value="1">JEV_LEV_FIRSTLINE</option>
			<option value="2">JEV_LEV_LASTLINE</option>
		</field>
		<field name="modlatest_SortReverse" type="jevboolean" class="gsl-button-group" default="0" menu="hide"
		       label="JEV_LEV_SORTREVERSE" description="JEV_LEV_SORTREVERSE_TIP" difficulty="3"
		       showon="module_config_from_component:1"/>
		<field name="modlatest_LinkCloaking" type="jevboolean" class="gsl-button-group" default="0" menu="hide"
		       label="JEV_LEV_HIDE_LINK" description="JEV_LEV_HIDE_LINK_TIP" difficulty="3"
		       showon="module_config_from_component:1"/>
		<field name="spacer_le2" type="jevinfo" default="JEV_LEV_AVAIL_FIELDS_JEV_LEV_FUNC_DATE_JEV_LEV_FUNC_STRFTIME"
		       menu="hide" label="" description="" difficulty="3" showon="module_config_from_component:1"
		       conditions="1"/>
		<field name="modlatest_CustFmtStr" type="jevtextarea"
		       default="${eventDate}[!a: - ${endDate(%I:%M%p)}]&lt;br/&gt;${title}" menu="hide" rows="5" cols="60"
		       label="JEV_LEV_CUST_FORM_STRING" description="JEV_LEV_CUST_FORM_STRING_TIP" difficulty="3"
		       showon="module_config_from_component:1"/>
		<field name="modlatest_RSS" type="jevboolean" class="gsl-button-group" default="0" menu="hide"
		       label="JEV_LEV_RSSLINK_FIELD" description="JEV_LEV_RSSLINK_TIP" difficulty="3"
		       showon="module_config_from_component:1"/>
		<field name="modlatest_contentplugins" type="jevboolean" class="gsl-button-group" default="0" menu="hide"
		       label="JEV_LATEST_CONTENT_PLUGINS" description="JEV_LATEST_CONTENT_PLUGINS_TIP" difficulty="3"
		       showon="module_config_from_component:1"/>

	</fieldset>

	<fieldset
			name="permissions"
			label="JCONFIG_PERMISSIONS_LABEL"
			description="JCONFIG_PERMISSIONS_DESC" difficulty="2"
	>
		<field
				name="rules"
				type="rules"
				label="JCONFIG_PERMISSIONS_LABEL"
				class="inputbox"
				filter="rules"
				component="com_jevents"
				section="component"
				difficulty="2"/>
		<!--//
				<field
					name="rules"
					type="rules"
					id="category_rules"
					label="JCONFIG_PERMISSIONS_LABEL"
					class="inputbox"
					filter="rules"
					component="com_jevents"
					section="category" />
		//-->
	</fieldset>

	<fields name="fieldset">
		<!--
		<fieldset name="1" addfieldpath="/administrator/components/com_jevents/fields">
			<field
				name="target_itemid"
				type="jevmenu"
				default=""
				label='JEV_TARGET_MENU'
				description='JEV_TARGET_MENU_TIP'  />
		</fieldset>
		//-->
	</fields>


</config>
