#jevents_body {
	color:inherit!important;
}

#jevents_body a , 
#jevents_body .jev_listview a  
{
	color:inherit;
}
span.jevdateicon2 a span {
	color:#fff;
}

#jevents_body table.jevicons {
	background-color:#fff;
}

div.jev_daynum_outofmonth, div.jev_dayoutofmonth {
	background-color: #444;
}

#jevents_body .jevdaydata a {
	color:#eee;
}

#jevents_body .jevdaydata .eventfull a {
	color:#111;
}
div.jev_daynum_today {
	background-color:#666;
}

.jevtip-text {
	background-color: #111;
}
.jevtt_text {
	color:#eee;
}

#jevents_body .event_legend_container {
		background-color: transparent;
}